@charset "UTF-8";


@import "mixin";


.container {
  max-width: 1400px;
  width: auto;
  padding: 0 60px;

  @media screen and (max-width: 767px){
    padding: 0;
  }
}

.main_container{
  width: auto;
  max-width: 1280px;

  @media screen and (max-width: 767px){
    padding: 0;
  }
}

.header-title {
  padding: 90px 0;
  margin: 0;

  @media screen and (max-width: 767px){
    padding: 45px 0;
  }

  h1 {
    font-size: 50px;
    line-height: 53px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: 'Nobel-Bold';

    @media screen and (max-width: 767px){
      font-size: 25px;
      line-height: 26px;
      letter-spacing: 0.05em;
    }  

  }
}


.sm-movie {
  background: #000;

  .sm-movie-thumb {
    display: none;
    @media screen and (max-width: 767px){
      display: block;
    }
  }

  .youtube {
    overflow: hidden;
    display: block;
    position:relative;
    padding-top:56.25%;
    @media screen and (max-width: 767px){
      display: none;
    }
  
    iframe{
      background: #000;
      position:absolute;
      top:0;
      left:0;
      width:100% !important;
      height:100% !important;
      z-index: 1;

      html {
        background: #000;
      }
    }
  }
}


.header-title {
  border-bottom: 0;

}

.sm-movie-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.content-wrapper {
  position: relative;
  overflow-x: hidden;
  top: -80px;
  padding-top: 80px;
  background: url(/brand/yoshihide_muroya/images/2018preview/center-line.png) center repeat-y;

  @media screen and (max-width: 767px){
    background-size: 1px auto;
    background-position: 14px 0;
    top: -30px;
    padding-top: 30px;
  }

  .content-wrapper__inner {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
    padding-bottom: 160px;
  }

  .sm-movie {
    position: relative;

    background: #000;

    img {
      background: transparent;
    }

    &:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;

      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent; 
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: -7px;
    }

    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;

      border-right: 7px solid transparent;
      border-top: 7px solid #fff;
      border-left: 7px solid transparent; 
      position: absolute;
      left: 50%;
      margin-left: -7px;
      bottom: -7px;
    }

    @media screen and (max-width: 767px){
      margin: 0;

      &:before {
        content: "";
        display: block;
        width:1px;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
        border-left: 5px solid transparent; 
        position: absolute;
        left: 15px;
        margin-left: -6px;
        top: -5px;
      }
  
      &:after {
        content: "";
        display: block;
        width:1px;

        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-left: 5px solid transparent; 
        position: absolute;
        left: 15px;
        margin-left: -6px;
        bottom: -5px;
      }
    }
  }
}


.preview-container {
  padding: 30px 0px;
  max-width: 1066px;
  margin: 0 auto;

  @media screen and (max-width: 767px){
    padding: 0;
    padding-left: 15px;
  }
}


.preview {
  position: relative;
  padding: 30px 0px;
  box-sizing: border-box;

  @media screen and (max-width: 767px){
    padding: 45px 0 0 0;
    width: 100%;
  }


  

  a {
    color: #ccc !important;
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }


  .date {
    color: #333333;
    position: absolute;
    z-index: 1;
    font-size: 140px;
    line-height: 125px;
    font-family: 'Nobel-Light';
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 1.2s ease-out, transform 2s ease, filter 2s ease;
    //-webkit-transition: opacity 2s ease, -webkit-transform 2s ease;
    opacity: 0;
    filter: blur(5px);

    @media screen and (max-width: 767px){
      filter: none;
      opacity: 1;
      transition: none;
      transform: none;
      position: static;
      font-size: 50px;
      line-height: 45px;
      text-align: right;
      padding-right: 25px;
    }

  }


  .preview__body {
    padding-top: 90px;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;

    @media screen and (max-width: 767px){
      padding-top: 30px;
    }

    @include clearfix();

    .img, .texts{
      float: right;
      width: 50%;
      box-sizing: border-box;

      @media screen and (max-width: 767px){
        float: none;
        width: 100%;
      }
    }

    .img {
      transition: opacity 2s 0.7s ease-out, transform 0.4s ease, filter 2s 0.7s ease;
      opacity: 0;
      filter: blur(2px);
      img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 767px){
        opacity: 1;
        filter: blur(0px);
      }
    }

    .texts {
      //background: url(/brand/yoshihide_muroya/images/2018preview/preview-bg.png) repeat;

      padding: 60px 2px 0;
      opacity: 1;
      transition: opacity 0.4s ease-out, transform 0.4s ease, filter 2s ease;

      @media screen and (max-width: 767px){
        opacity: 1;
        transform: none;
        padding: 0;
        padding-right: 15px;
      }

      .inner {
        //overflow: hidden;
        position: relative;
        //position: absolute;
        //top: 0;

        h2 span{
          display: block;
        }

        @media screen and (max-width: 767px){
          position: static;
        }
        h2 span, p {
          transition: opacity 0.4s ease-out;
          opacity: 1;

          @media screen and (max-width: 767px){
            transition: none;
            opacity: 1;
          }
        }
      }

      h2 {

        
        background: none;
        text-align: left;

        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0;
        
        span {
          display: block;
          border-bottom: 1px solid #333333;
          //width: 100%;
          padding: 0px 20px 20px;
        }

        position: relative;


        &:before {
          content: "●";
          font-size: 10px;
          line-height: 10px;
          color: #fff;
          display: block;
          background: #000;
          width: 10px;
          height: 10px;
          position: absolute;
          left: -8px;
          bottom: -5px;

          @media screen and (max-width: 767px){
            font-size: 5px;
            line-height: 6px;
            width: 5px;
            height: 6px;
            left: -3px;
            bottom: -4px;
          }
        }

        @media screen and (max-width: 767px){
          font-size: 17px;
          line-height: 26px;
          letter-spacing: 0;
        
          span {
            border-bottom: 1px solid #333333;
            width: 100%;
            padding: 0px 22px 10px;
          }
        }
      }

      p {
        font-size: 18px;
        line-height: 32px;
        color: #ccc;
        letter-spacing: 0;
        padding: 20px 20px 40px;

        @media screen and (max-width: 767px){
          padding: 5px 22px 10px;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: 0;
        }
      }
    }

    @media screen and (max-width: 767px){
      padding-top: 30px;
    }
  }



  &.right {
    .date {
      right: 0;
      transform: translate3d(60px, 0, 0);

      @media screen and (max-width: 767px){
        transform: none;
      }
    }

    .preview__body {
      left: 1px;

      @media screen and (max-width: 767px){
        left: 0;
      }

      /*
      .inner {
        left: -10px;
        padding-left: 10px;
        h2 span, p {
          transform: translate3d(-500px, 0, 0);
        }
        
        //left: 0;
        //right: 100%;
      }*/

      .img {
        padding-left: 60px;
        padding-right: 30px;
        transform: translate3d(-60px, 0, 0);

        @media screen and (max-width: 767px){
          padding: 0;
          transform: translate3d(0px, 0, 0);
        }
      }

      .texts {
        //transform: translate3d(100px, 0, 0);

        @media screen and (max-width: 767px){
          transform: none;
        }
      }
    }
  }

  &.left {
    .date {
      left: 0;
      transform: translate3d(-60px, 0, 0);

      @media screen and (max-width: 767px){
        transform: none;
      }
    }

    .preview__body {
      left: -1px;

      @media screen and (max-width: 767px){
        left: 0;
      }

      /*
      .inner {
        right: -10px;
        padding-right: 10px;
        h2 span, p {
          transform: translate3d(500px, 0, 0);
        }
        
        //right: 0;
        //left: 100%;
      }*/

      .img, .texts{
        float: left;
      }
      .img {
        padding-right: 60px;
        padding-left: 30px;
        transform: translate3d(60px, 0, 0);

        @media screen and (max-width: 767px){
          transform: translate3d(0, 0, 0);
          padding: 0;
        }
      }

      .texts {
        h2 {
          &:before {
            left: auto;
            right: -8px;
          }
          @media screen and (max-width: 767px){
            &:before {
              right: auto;
              left: -3px;
            }
          }
        }
      }

      .texts {
        //transform: translate3d(-100px, 0, 0);

        @media screen and (max-width: 767px){
          transform: none;
        }
      }
    }
  }

  &.show {
    .date {
      filter: blur(0);
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .preview__body {
      .inner {
        h2 span, p {
          opacity: 1;
        }
      }

      .img {
        opacity: 1;
        filter: blur(0px);
        transform: translate3d(0, 0, 0);
      }
      .texts {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}


#recommendBanners {
  max-width: 980px;
  margin: 0 auto;
}

.sns {
  border-top: 1px solid #333;
  padding-top: 40px;
}


#colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent{
   * {
     box-sizing: border-box;
   }
}

#cboxContent {
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

#cboxLoadedContent {

  width: 100%;
  max-width: 980px;

  position:relative;
  //@at-rootwidth:100%;
  padding-top:56.25%;

  iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

#cboxContent, #cboxLoadedContent {
  background: transparent;
}