@charset "UTF-8";




html,body{
}

html{
  //overflow: hidden;
  //overflow-x: auto;
}
#header{
  z-index: 100001;
}
.brand-head{
  z-index: 100001;
}
body{
  //overflow-x: scroll;
  min-width: 980px;
  @media screen and (max-width: 767px){
    min-width: auto;
  }  
}

#wrapper{
  z-index: 0;
}

.container {
  width: auto;
  letter-spacing: 0.05em;
}

body>.st-main{
  position: relative;
  //-ms-touch-action : none;
	//touch-action : none;
  //position: fixed;
  top: 0;
  width: 100%;
  
  @media screen and (min-width: 767px){
    min-width: 984px;
  }
  @media screen and (max-width: 767px){
    min-width: auto;
  }
  bottom: 0;
  //overflow-y: hidden;
  //-webkit-overflow-scrolling: touch;

  background: #000;


  .align-right {
    text-align: right;
  }
  .align-center {
    text-align: center;
  }
  .align-left {
    text-align: center;
  }
}


.container{
  //position: relative;
  //height: 100%;
  //top: -152px;
  font-size: 14px;
  line-height: 2;
  //margin-bottom: -152px;
  @media screen and (max-width: 767px){
    font-size: 12px;
    top: -116px;
    //margin-bottom: -116px;
    @media screen and (max-width: 375px){
      font-size: 3.2vw;
    }
  }
}

.st-header{
  z-index: 15;
  width: 100%;
}

.theme-dark .st-header_inner{
  background: #000;
}

.screen-layout{
  width: 100%;
  height: 100%;
  
  min-height: 100%;

  &.screen-layout--auto{
    min-height: 100%;
    height: auto;
  }

  .screen-layout__inner{
    position: relative;
    width: 100%;
    min-height: 100%;
  }
  .vh100{
    height: 100%;
  }
  .mvh100{
    min-height: 100vh;
    position: relative;
  }
  .vh200{
    height: 200%;
  }
}



.screen-layout__inner{
  //padding-top: 72px;
  box-sizing: border-box;

  .buildActor{
    opacity: 0;
    display: inline-block;
    transition: opacity 0.2s ease-out, transform 0.45s ease-out;
    //width: 100%;
    overflow: hidden;
    transform: perspective(500px) translate3d(0, 15px, 0);

    &.show{
      //width: 100%;
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0px, 0px);
    }
  }
  .buildActorD{
    opacity: 0;
    transition: opacity 0.45s ease-out, transform 0.45s ease-out;
    transform-style: preserve-3d;
    transform: perspective(500px) translate3d(0, 15px, 0px);

    &.show{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0px, 0);
    }
  }
}

#mesh {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/preview-bg.png) center;
}

/* アニメーション */
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#top,
#section01{
  overflow: hidden;
  .screen-layout__inner{
    height:  100%;
    min-height: 640px;
    box-sizing: border-box;
    padding-top: 0px;
    overflow: hidden;
    @media screen and (max-width: 767px){
      //padding-top: 116px;
      //height: calc(100vh - 72px - 44px);
      min-height: 568px - 72px - 44px;
    }

    p {
      letter-spacing: 0.1em !important;
    }
    .vm {
      display: table;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      overflow: hidden;
      .screen-layout__header {
        animation: none;
        opacity: 1;
      }
      .bl,.bt,.br,.bb{
        z-index: 1;
      }

      .bl{
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 0%;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .bt{
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 15px;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .br{
        background: #000;
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 0%;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .bb{
        background: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 15px;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      @media screen and (max-width: 767px){
        .bl,.bt,.br,.bb{
          display: none;
        }
      }

      &:hover {
        .button--rounded {
          background: #222222;
          color: #fff;
        }

        .no {
          display: none;
        }
        .on {
          display: inline-block;
        }

        .screen-layout__header {
          animation: fadeIn 0.7s;
        }
        .bl{
          height: 100%;
          transition: all 0.4s ease;
        }
        .bt{
          width: 100%;
          transition: all 0.4s ease;
        }
        .br{
          height: 100%;
          transition: all 0.4s ease;
        }
        .bb{
          width: 100%;
          transition: all 0.4s ease;
        }
      }
    }
  }
  .screen-layout__header{
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
  }
}
#profile{
  .screen-layout__inner{
    padding-top: 0;
    @media screen and (max-width: 767px){
      //min-height: 640px;
    }
    
    //min-height: 100vh;
    .mvh100{
      box-sizing: border-box;
      //padding-top: 70px;
      padding-bottom: 70px;
      min-height: 780px;
      @media screen and (max-width: 767px){
        //padding-top: 72px;
        padding-bottom: 0px;
        min-height: auto;
      }
    }
  }
}



.content-center{
  max-width: 960px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 480px;
  line-height: 1.6;
  box-sizing: border-box;
  @media screen and (max-width: 767px){
    min-width: auto;
    padding-right: 0;
    padding: 30px 15px 0;
    
    @media screen and (max-width: 375px){
      padding: 8vw 4vw 0;
    }
  }

  .screen-layout__header{
    margin-bottom: 50px;
    @media screen and (max-width: 767px){
      margin-bottom: 30px;
      @media screen and (max-width: 375px){
        margin-bottom: 8vw;
      }
    }
  }
}

#section02{
  .content-center{
    @media screen and (max-width: 767px){
      padding: 44px 15px 0;
      @media screen and (max-width: 375px){
        padding: 11.7vw 4vw 0;
      }
    }
  }
}

#aboutRAR, #races, #events-topics, #movie{
  header a{
    box-sizing: border-box;
    padding: 30px;
    @media screen and (max-width: 767px){
      padding: 15px;
      @media screen and (max-width: 375px){
        padding: 4vw;
      }
    }
  }
}


#aboutRAR, #races, #events-topics, #movie{
  article{
    overflow: hidden;
    position: relative;
    width: 100%;

    .arrow{
      position: relative;
      top: -11px;
      left: 10px;
      @media screen and (max-width: 767px){
        position: relative;
        top: -7px;
        left: 5px;
      }
    }
    header{
      background: rgba(0,0,0,0.25);
      transition: all 0.2s ease;

    }
    @media screen and (min-width: 768px){
      header{
        background: rgba(0,0,0,0.5);
        transition: all 0.2s ease;
      }
    }
    .bl,.bt,.br,.bb{
      pointer-events: none;
    }

    .bl{
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 0%;
      transition: all 0.2s ease;
      z-index: 2;
    }
    .bt{
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 15px;
      transition: all 0.2s ease;
      z-index: 2;

    }
    .br{
      background: #000;
      position: absolute;
      right: 0;
      top: 0;
      width: 15px;
      height: 0%;
      transition: all 0.2s ease;
      z-index: 2;

    }
    .bb{
      background: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 15px;
      transition: all 0.2s ease;
      z-index: 2;

    }
    @media screen and (max-width: 767px){
      .bl,.bt,.br,.bb{
        display: none;
      }
    }
  }
  article>div{
    position: relative;
    z-index: -1;
    img{
      transition: all 0.2s ease;
    }
  }
  @media screen and (min-width: 768px){
    article:hover{
      header{
      background: rgba(0,0,0,0.1);
      }
      &>div{
        img{
          transform: scale(1.2);
          transition: all 0.7s ease;
        }
      }
      .bl{
        height: 100%;
        transition: all 0.4s ease;
      }
      .bt{
        width: 100%;
        transition: all 0.4s ease;
      }
      .br{
        height: 100%;
        transition: all 0.4s ease;
      }
      .bb{
        width: 100%;
        transition: all 0.4s ease;
      }
    }
  }
}
#races{
  height: 320px;
  article, article>div{
    height: 100%;
  }
  @media screen and (max-width: 767px){
    height: 130px;
  }
  div{
  img{
      width: 100%;
      height: 320px;
      object-fit: cover;
      @media screen and (max-width: 767px){
        height: 130px;
      }
    }
  }
  .copyright{
    position: absolute;
    left: 23px;
    bottom: 23px;
    pointer-events: none;
    @media screen and (max-width: 767px){
      left: 10px;
      bottom: 10px;
    }
  }
}
#events-topics, #movie{
  height: 240px;
  article, article>div{
    height: 100%;
  }
  @media screen and (max-width: 767px){
    height: 120px;
  }

  img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    font-family: 'object-fit: cover;'
  }
  @media screen and (max-width: 767px){
    height: 120px;
    img{
      height: 120px;
    }
  }

  
  .copyright{
    position: absolute;
    left: 23px;
    bottom: 23px;
    pointer-events: none;

    img{
      width: auto;
      height: 12px;
      @media screen and (max-width: 767px){
        height: 9px;
      }
    }
    @media screen and (max-width: 767px){
      left: 10px;
      bottom: 10px;
    }
  }
}

#contents #aboutRAR  article {
  header {
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 16px;
  }
  @media screen and (max-width: 767px){
    header {
      left: 6px;
      top: 6px;
      right: 6px;
      bottom: 6px;
    }
  }
}

#aboutRAR{
  display: block;
  height: 260px;
  article, article>div{
    height: 100%;
  }
  @media screen and (max-width: 767px){
    height: 130px;
  }
  .coverImage {
    padding: 16px;
    box-sizing: border-box;
    
    @media screen and (max-width: 767px){
      padding: 6px;
    }
    div {
      overflow: hidden;
      position: relative;
    }

    position: relative;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      background: #fff;
    
      @media screen and (max-width: 767px){
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
      }
    }

    $color1: #0066cc;
    $color2: #000f32;

    background: $color1;
    background: -moz-linear-gradient(left, $color2 0%, $color1 100%);
    background: -webkit-linear-gradient(left, $color2 0%, $color1 100%);
    background: linear-gradient(to right, $color2 0%, $color1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color2', endColorstr='$color1', GradientType=1);
  }
  article {
    header {
      background: rgba(0,0,0,0.1);
      text-align: right;
      padding-right: 60px;
      @media screen and (max-width: 767px){
        padding-right: 20px;
      }
      h1 {
        color: #223971;
        height: auto;
        padding-top: 60px;
          font-family: 'Nobel-Regular';
          line-height: 228px;
          font-size: 50px;
          @media screen and (max-width: 767px){
            padding-top: 30px;
            line-height: 120px;
            font-size: 25px;
          }
      }
    }
  }
  article {
    @media screen and (max-width: 767px){
      .bl,.bt,.br,.bb{
        pointer-events: none;
        display: block;
      }
      .bl {
        width: 5px;
      }
      .bt {
        height: 5px;
      }
      .br {
        width: 5px;
      }
      .bb {
        height: 5px;
      }
    }
    @media screen and (min-width: 767px){
    &:hover {
        header {
          background: rgba(0,0,0,0.35);
          h1 {
          color: #fff;
          }
        }
      .bl, .bt, .br, .bb{
        background: #fff;
        transition: none;
        //height: 100%;
      }
      .coverImage {
        &:before {
          transform: scale(1.2);
          transition: all 0.7s ease;
        }
      }
      &>div{
        img{
          transform: scale(1.2);
          transition: all 0.7s ease;
        }
      }

    }

    }
  }
  div{
    img{
      width: 100%;
      height: 228px;
      object-fit: cover;
      @media screen and (max-width: 767px){
        height: 118px;
      }
    }
  }
  .copyright{
    position: absolute;
    left: 23px;
    bottom: 23px;
    pointer-events: none;
    @media screen and (max-width: 767px){
      left: 10px;
      bottom: 10px;
    }
  }
}


#calendar{
  box-sizing: border-box;
  header{
    margin-bottom: 30px;
    @media screen and (max-width: 767px){
      margin-bottom: 12px;
    }
  }
  @media screen and (max-width: 767px){
    .copyright {
      bottom: 10px;
    }
  }
  .content-center{
    padding-left: 0;
    padding-right: 0;
    
    /*
    padding-right: 0;
    @media screen and (max-width: 767px){
      padding-right: 4vw;
      
      @media screen and (max-width: 375px){
        padding-right: 15px;
      }
    }
    */
  }

  ul{
    li{
      text-align: left;
      line-height: 50px;
      background: rgba(0,0,0,0.25);
      &.blank {
        background: rgba(0,0,0,0.1);

      }
      padding-left: 20px;
      margin-bottom: 1px;
      font-size: 16px;
      @media screen and (max-width: 767px){
        line-height: 36px;
        padding-left: 7px;
        font-size: 10.5px;
        @media screen and (max-width: 375px){
          font-size: 2.8vw;
          line-height: 9.6vw;
          padding-left: 2.1vw;
        }
      }

      &.next-race{
        background: #FFF;
        color: #000;
        position: relative;

        &:before{
          display: block;
          content: " ";
          position: absolute;
          right: 0;
          top: 0;
          width: 80px;
          height: 50px;
          background: #000;
          transform: skewX(-22.5deg);
          right: 12px;
          @media screen and (max-width: 767px){
            width: 50px;
            height: 36px;
            @media screen and (max-width: 375px){
              width: 13.33vw;
              height: 9.6vw;
              right: 3.2vw;
            }
          }
        }

        &:after{
          display: block;
          content: "NEXT\ARACE";
          background: #000;
          color: #FFF;
          height: 50px;
          position: absolute;
          right: 0;
          top: 0;
          width: 80px;
          letter-spacing: 4px;
          padding: 10px 15px;
          line-height: 16px;
          font-size: 15px;
          box-sizing: border-box;
          text-align: center;
          
          @media screen and (max-width: 767px){
            padding: 8px 7px;
            font-size: 9.5px;
            line-height: 10px;
            font-size: 9.5px;

            width: 50px;
            height: 36px;
            @media screen and (max-width: 375px){
              padding: 2.133vw 0.2vw;
              width: 13.33vw;
              height: 9.6vw;
              font-size: 2.533vw;
              line-height: 2.666vw;
            }
          }
        }
      }
    }
  }

  //min-height: 400px;
  
  @media screen and (max-width: 767px){
    padding-bottom: 30px !important;
    //padding-bottom: 30px;
    //min-height: -webkit-calc(100vh - 72px);
    //min-height: calc(100vh - 72px);
    @media screen and (max-width: 375px){
      //padding-bottom: 51.46vw;
    }
  }
}

.flex-wrapper{
  display: flex;
}

.flex-item{
  -webkit-flex-grow: 1;
  flex-grow: 1;

  img{
    width: 100%;
  }
}

.hoge {
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

#contents{
  .flex-item{
    article{
      position: relative;

      header{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        h1, a{
          display: block;
          height: 100%;
        }
      }
    }
  }
}



#section04 {
  .screen-layout__inner {
    .content-center {
      vertical-align: middle;
    }
    
    min-height: 640px;
    @media screen and (max-width: 767px){
      min-height: 100vh;
    }
  }
}


#section04 {
    
  .content-center{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 480px;
    line-height: 1.6;
    box-sizing: border-box;
    @media screen and (max-width: 767px){
      min-width: auto;
      padding-right: 0;
      padding: 100px 15px 0;
      
      @media screen and (max-width: 375px){
        padding: 30vw 4vw 0;
      }
    }

    .screen-layout__header{
      margin-bottom: 50px;
      @media screen and (max-width: 767px){
        margin-bottom: 30px;
        @media screen and (max-width: 375px){
          margin-bottom: 8vw;
        }
      }
    }
  }
}

#contentNavigation{
  display: none;
  @media screen and (max-width: 767px){
    display: block;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 50%;
    margin-top: -75px;

    a{
      display: block;
      width: 10px;
      height: 30px;
      margin-bottom: 2px;
      position: relative;
      border-left: 1px solid #FFF;
      &:after{
        content: " ";
        display: block;
        width: 10px;
        height: 30px;
        background: #FFF;
        transition: all 0.4s ease;
        transform: translate3d(11px, 0, 0);
      }

      &.selected{
        &:after{
          transform: translate3d(0px, 0, 0);
        }
      }
    }
  }

}

.brand-category_link{
  cursor: pointer;
}



.video-background {
  background: #000;
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video-foreground,
.video-background iframe ,
.video-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.video-foreground.h { 
  height: 500%; top: -200%;
}
.video-foreground.w { 
  width: 400%; left: -150%;
  height: 150%; top: -25%;
}


.button .arrow {
  background: none;
}

#crossing, #redbullairrace {
  .video-background{
    position: fixed;
    z-index: -1;
  }
  .screen-layout {
    text-align: center;
    position: relative;
    h1 {
      font-weight: normal;
      font-family: 'Nobel-Regular';
      @media screen and (max-width: 767px){
        font-size: 30px !important;
      }
    }
    p + p {
      margin-top: 1rem;
    }
  }

  #top,
  #section01 {
    
    .screen-layout__inner .vm{
      background: none;
    }

    .screen-layout__header{
      span+span{
        display: inline-block;
        margin-top: 1em !important;
      }
    }
  }
  #top {

    .screen-layout__header{
      @media screen and (max-width: 767px){
        padding-bottom: 0;
      }
    }

  }


  #black {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
  }


  .screen-layout {
    margin-top: 0;
    padding: 60px 0 0;
    @media screen and (max-width: 767px){
      padding: 40px 0 0;
    }

    &.no-padding {
      padding: 0;
      @media screen and (max-width: 767px){
        padding: 0;
      }
    }

    .screen-layout__header{
      position: relative;
      h1 {
        margin-bottom: 60px;
        @media screen and (max-width: 767px){
          margin-bottom: 30px;
        }

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 60px;
          height:2px;
          background: #fff;
          bottom: -30px;
          left: 50%;
          margin-left: -30px;
          @media screen and (max-width: 767px){
            width: 30px;
            height:1px;
            background: #fff;
            bottom: -15px;
            left: 50%;
            margin-left: -15px;
          }
        }
      }
      h4 {
        letter-spacing: 0.1em;
        margin-bottom: 30px;
        @media screen and (max-width: 767px){
          margin-bottom: 15px;
        }

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 60px;
          height:2px;
          background: #333;
          bottom: -30px;
          left: 50%;
          margin-left: -30px;
          @media screen and (max-width: 767px){
            width: 30px;
            height:1px;
            background: #333;
            bottom: -15px;
            left: 50%;
            margin-left: -15px;
          }
        }
      }
    }

    .screen-layout__body{
      margin: 60px 0;
      @media screen and (max-width: 767px){
        margin: 30px 0 0;
        padding: 0 15px;
      }
    }
  }


  .vm {
    &:hover {
      .button--rounded {
        background: #222222;
        color: #fff;

        .no {
          display: none;
        }
        .on {
          display: inline-block;
        }
      }

      .screen-layout__header {
        animation: none !important;
      }
    }
  }


  #concept{
    padding: 30px 0;

    h1 {
      position: relative;
      margin-bottom: 0;
    }

    .screen-layout__body{
      margin: 0;
      padding: 60px 0;
      @media screen and (max-width: 767px){
        padding: 30px 0;
      }
    }

    h1, p {
      letter-spacing: 0.1em !important;
    }

    p {
      line-height: 2.4;
    }
    @media screen and (max-width: 767px){
      padding: 15px 0;
    }
  }
}




#appearance {
.flex-wrapper {
  max-width: 960px;
  margin: 0 auto;
  @media screen and (max-width: 767px){
    flex-wrap: wrap;
  }


  .flex-item {
    flex-basis: 100%;
    padding: 1px;
    a {
      position: relative;
      display: block;
      overflow: hidden;
      img {
        position: relative;
      }

      .bl{
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 0%;
        transition: all 0.2s ease;
      }
      .bt{
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 10px;
        transition: all 0.2s ease;
      }
      .br{
        background: #000;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 0%;
        transition: all 0.2s ease;
      }
      .bb{
        background: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 10px;
        transition: all 0.2s ease;
      }
      @media screen and (max-width: 767px){
        .bl,.bt,.br,.bb{
          display: none;
        }
      }
      
     img{
        transition: all 0.2s ease;
      }
      @media screen and (min-width: 768px){
        &:hover{
          
            img{
              transform: scale(1.2);
              transition: all 0.7s ease;
            }
            .bl{
              height: 100%;
              transition: all 0.4s ease;
            }
            .bt{
              width: 100%;
              transition: all 0.4s ease;
            }
            .br{
              height: 100%;
              transition: all 0.4s ease;
            }
            .bb{
              width: 100%;
              transition: all 0.4s ease;
            }
        }
      }
      span {
        display: block;
        position: absolute;
        font-size: 24px;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
        @media screen and (max-width: 767px){
          font-size: 17px;
        }
      }
    }
  }
}
}

.st-footer{
  position: relative;
}


#cboxContent {
  margin: 0px;
}


#crossing #content {
  .screen-layout__body {
    padding: 0;
  }
}
.crContent {
  position: relative;
  padding: 380px 480px 0 40px;
  text-align: left;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 230px;
  @media screen and (max-width: 767px){
    width: 100%;
    padding: getVW(480px, 750px) 15px 0 15px;
    margin-bottom: 180px;
  }


  //&+.crContent{
  //}

  &__header {
    position: absolute;
    //bottom: 380px;
    transform: translate3d(0, -100%, 0);
    z-index: 3;
    h2 {
      white-space: nowrap;
      display: inline-block;
      text-align: left;
      font-size: 60px;
      font-family: 'Nobel-Regular';
      position: relative;
      background: none;

      span {
        display: inline-block;
        opacity: 0;
        transform: scaleX(1.5) translate3d(80px, 0, 0);
      }

      line-height: 1.2;
      padding-bottom: 20px;
      @media screen and (max-width: 767px){
        font-size: 30px;
        padding-bottom: 10px;
      }
    }

    .bar {
      display: block;
      width: 0px;
      height: 2px;
      background: #0057cd;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(1) translate3d(0, 0, 0);
      @media screen and (max-width: 767px){
        height: 1px;
      }
    }
  }


  &.is-active {
    $num: 50;
    @for $i from 0 through 50 {
      .d#{$i * $num} {
        transition-delay: #{$i * $num}ms !important;
      }
    }
    .crContent__header {
      h2 {
        span {
          opacity: 1;
          display: inline-block;
          transition: transform 1.2s ease,  -webkit-transform 1.2s ease,  opacity 1.2s ease;
          transform: translate3d(0, 0, 0);
        }
      }

      .bar {
        transition: all 1.2s ease;
        width: 60px;
        @media screen and (max-width: 767px){
          transition: all 1.2s ease;
          width: 30px;
        }
      }
    }

    .crContent__body {
      transition: opacity 1s ease;
      opacity: 1;
    }

    .photoItem {
      .img {
        opacity: 1;
        transition: transform 2s ease, -webkit-transform 2s ease, opacity 2.5s ease;
        transform: translate3d(0, 0, 0) !important;
      }

      &.photoItem2 {
        .img {
          transition: transform 2.5s ease, -webkit-transform 2.5s ease, opacity 2.5s ease;
          transition-delay: 500ms;
        }
      }

      &.photoItem3 {
        .img {
          transition: transform 2.5s ease, -webkit-transform 2.5s ease, opacity 2.5s ease;
          transition-delay: 500ms;
        }
      }
    }
  }


  .photoItem2, .photoItem3 {
    .img {
      position: relative;
      
      &:after {
        position: absolute;
        display: block;
        content: " ";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.25);
        @media screen and (max-width: 767px){
          background: rgba(0,0,0,0.75);
        }
      }
    }
  }

  &__body {
    position: relative;
    z-index: 3;
    font-size: 14px;
    padding-top: 60px;
    padding-left: 60px;
    opacity: 0;

    p + a.more{
      margin-top: 60px;
    }


    @media screen and (max-width: 767px){
      width: 70%;
      font-size: 12px;
      padding-top: 20px;
      padding-left: 0;
      margin: 0 auto;
      p {
        
      //padding-left: 75px;
      }

      p + a.more{
        margin-top: 20px;
      }
    }
    a.more {
      display: inline-block;
      font-size: 15px;
      background: #fff;
      color: #141414;
      border-radius: 2px;
      @include clearfix();

      width: 180px;
      padding: 0 15px;
      
      i {
        float: right;
        vertical-align: middle;
        img {
          vertical-align: middle;
          margin-bottom: 5px;
        }
      }

      @media screen and (max-width: 767px){
        display: block;
      }


      .no {
        display: inline-block;
      }
      .on {
        display: none;
      }

      &:hover {
        background: #141414;
        color: #fff;
        .no {
          display: none;
        }
        .on {
          display: inline-block;
        }
      }
    }
  }

  .photoItem {
    .img {
      opacity: 0;
    }
  }

  &.crLeft {
    padding: 380px 480px 0 40px;
    @media screen and (max-width: 767px){
      padding: getVW(450px, 750px) 15px 0;
    }

    .photoItem1 {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      img {
        width: 680px;
        height: auto;
      }

      .img {
        transform: translate3d(100%, 0, 0);
      }

      @media screen and (max-width: 767px){
        left: 15%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .photoItem2 {
      position: absolute;
      z-index: 1;
      left: 70px;
      top: 120px;

      .img {
        transform: translate3d(-100%, 0, 0);
      }

      img {
        width: 240px;
        height: auto;
      }

      @media screen and (max-width: 767px){
        top: getVW(260px, 750px);
        left: -10%;
        right: 80%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .photoItem3 {
      position: absolute;
      z-index: 1;
      right: 60px;
      top: 440px;
      img {
        width: 320px;
        height: auto;
      }

      .img {
        transform: translate3d(100%, 0, 0);
      }

      @media screen and (max-width: 767px){
        bottom: 40px;
        top: auto;
        right: 0;
        left: 60%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.crRight {
    .crContent__header{
      right: 0;
      @media screen and (max-width: 767px){
        right: 15px;
      }
      h2 {
        text-align: right;
      }
    }
    padding: 380px 40px 0 480px;
    @media screen and (max-width: 767px){
      padding: getVW(450px, 750px) 15px 0;
    }

    .photoItem1 {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      img {
        width: 680px;
        height: auto;
      }

      .img {
        transform: translate3d(-100%, 0, 0);
      }

      @media screen and (max-width: 767px){
        img {
          width: 300px;
          height: auto;
        }
        right: 15%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .photoItem2 {
      position: absolute;
      z-index: 1;
      right: 70px;
      top: 120px;
      img {
        width: 240px;
        height: auto;
      }

      .img {
        transform: translate3d(100%, 0, 0);
      }
      @media screen and (max-width: 767px){
        top: getVW(260px, 750px);
        right: -10%;
        left: 80%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .photoItem3 {
      position: absolute;
      z-index: 1;
      left: 60px;
      top: 440px;
      img {
        width: 320px;
        height: auto;
      }

      .img {
        transform: translate3d(-100%, 0, 0);
      }

      @media screen and (max-width: 767px){
        bottom: 40px;
        top: auto;
        left: 0;
        right: 60%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

