@mixin easeNone() {
  @include css3("transition-timing-function", cubic-bezier(0.250, 0.250, 0.750, 0.750));
}


@mixin easeInSine() {
  @include css3("transition-timing-function", cubic-bezier(0.47, 0, 0.745, 0.715));
}
@mixin easeOutSine() {
  @include css3("transition-timing-function", cubic-bezier(0.39, 0.575, 0.565, 1));
}
@mixin easeInOutSine() {
  @include css3("transition-timing-function", cubic-bezier(0.445, 0.05, 0.55, 0.95));
}


@mixin easeInQuad() {
  @include css3("transition-timing-function", cubic-bezier(0.55, 0.085, 0.68, 0.53));
}
@mixin easeOutQuad() {
  @include css3("transition-timing-function", cubic-bezier(0.25, 0.46, 0.45, 0.94));
}
@mixin easeInOutQuad() {
  @include css3("transition-timing-function", cubic-bezier(0.455, 0.03, 0.515, 0.955));
}


@mixin easeInCubic() {
  @include css3("transition-timing-function", cubic-bezier(0.55, 0.055, 0.675, 0.19));
}
@mixin easeOutCubic() {
  @include css3("transition-timing-function", cubic-bezier(0.215, 0.61, 0.355, 1));
}
@mixin easeInOutCubic() {
  @include css3("transition-timing-function", cubic-bezier(0.645, 0.045, 0.355, 1));
}


@mixin easeInQuart() {
  @include css3("transition-timing-function", cubic-bezier(0.895, 0.03, 0.685, 0.22));
}
@mixin easeOutQuart() {
  @include css3("transition-timing-function", cubic-bezier(0.165, 0.84, 0.44, 1));
}
@mixin easeInOutQuart() {
  @include css3("transition-timing-function", cubic-bezier(0.77, 0, 0.175, 1));
}


@mixin easeInQuint() {
  @include css3("transition-timing-function", cubic-bezier(0.755, 0.05, 0.855, 0.06));
}
@mixin easeOutQuint() {
  @include css3("transition-timing-function", cubic-bezier(0.23, 1, 0.32, 1));
}
@mixin easeInOutQuint() {
  @include css3("transition-timing-function", cubic-bezier(0.86, 0, 0.07, 1));
}


@mixin easeInExpo() {
  @include css3("transition-timing-function", cubic-bezier(0.95, 0.05, 0.795, 0.035));
}
@mixin easeOutExpo() {
  @include css3("transition-timing-function", cubic-bezier(0.19, 1, 0.22, 1));
}
@mixin easeInOutExpo() {
  @include css3("transition-timing-function", cubic-bezier(1, 0, 0, 1));
}



@mixin easeInCirc() {
  @include css3("transition-timing-function", cubic-bezier(0.6, 0.04, 0.98, 0.335));
}
@mixin easeOutCirc() {
  @include css3("transition-timing-function", cubic-bezier(0.075, 0.82, 0.165, 1));
}
@mixin easeInOutCirc() {
  @include css3("transition-timing-function", cubic-bezier(0.785, 0.135, 0.15, 0.86));
}


@mixin easeInBack() {
  @include css3("transition-timing-function", cubic-bezier(0.6, -0.28, 0.735, 0.045));
}
@mixin easeOutBack() {
  @include css3("transition-timing-function", cubic-bezier(0.175, 0.885, 0.320, 1.275));
}
@mixin easeInOutBack() {
  @include css3("transition-timing-function", cubic-bezier(0.68, -0.55, 0.265, 1.55));
}





