@charset "UTF-8";

#top,
#section01{
  .screen-layout__inner .vm{
    background: url(../images/preview-bg.png) center;
  }
}
#section02{
  .screen-layout__inner{
    background: url(../images/section-bg_02.jpg) center;
    background-size: cover;
    @media screen and (max-width: 767px){
      background: url(../images/section-bg_02-sp.jpg) center;
      background-size: cover;
    }
  }
}
//#contents{
//.screen-layout__inner{
    #calendar{
      background: url(../images/section-bg_03.jpg) center top;
      background-size: cover;
      @media screen and (max-width: 767px){
        background: url(../images/section-bg_03-sp.jpg) center;
        background-size: cover;
      }
    }
//  }
//}
#section04{
  .screen-layout__inner{
    background: url(../images/section-bg_04.jpg) center;
    background-size: cover;
    @media screen and (max-width: 767px){
      background: url(../images/section-bg_04-sp.jpg) center;
      background-size: cover;
    }
  }
}
#profile{
  .screen-layout__inner .mvh100{
    background: url(../images/section-bg_05.jpg) center no-repeat;
    background-size: auto 100%;
    @media screen and (max-width: 767px){
      background: none;
      //url(../images/section-bg_05-sp.jpg) center bottom no-repeat;
      background-size: 100% auto;
    }
  }

  .screen-bg{
    img{
      display: none;
      width: 100%;
      height: auto;
      @media screen and (max-width: 767px){
        display: block;
      }
    }
  }
}


.screen-layout{
  color: #FFF;
  a{
    color: #FFF;
  }
  overflow: hidden;


  .button--rounded  {
    background: rgba(255,255,255,0.9);
    color: #222;
    width: 300px;
    line-height: 45px;
    display: block;
    margin: 0 auto;
    border-radius: 45px;
    margin-top: 20px;
    font-size: 17px;
    img {
      margin-top: -6px;
      margin-left: 10px;
      vertical-align: middle;
    }
        
    @media screen and (max-width: 767px){
      font-size: 13px;
      width: 204px;
      line-height: 33px;
      img {
        width: 11px;
        height: 11px;
        margin-top: -3px;
        margin-left: 5px;
        vertical-align: middle;
      }
      margin-top: 10px;
      margin-bottom: 0px;
    }
    
  
    .no {
      display: inline-block;
    }
    .on {
      display: none;
    }
  
  
    &:hover {
      
      background: #222222;
      color: #fff;
  
      .no {
        display: none;
      }
      .on {
        display: inline-block;
      }
    }
  }
}

.screen-layout{
  h1, h1>a, h1>span{
    font-family: "Nobel-Light", "レクサスロダン Pro M", "LexusRodinPro M", "メイリオ", sans-serif;
    line-height: 1;
    font-size: 45px;
    font-weight: 200;
    white-space: nowrap;
    span{
      white-space: nowrap;

    }

    b{
      font-family: "Nobel-Regular", "レクサスロダン Pro M", "LexusRodinPro-M", "メイリオ", sans-serif;
      font-size: 60px;
      font-weight: 400;
      margin-left: -0.05em;
    }
    @media screen and (max-width: 767px){
      font-size: 30px;
      b{
        font-size: 45px;
      }
      @media screen and (max-width: 375px){
        font-size: 8vw;
        b{
          //font-size: 45px;
          font-size: 12vw;
        }
      }
    }
  }

  h4, h4>a, h4>span{
    font-family: "Nobel-Light", "レクサスロダン Pro M", "LexusRodinPro M", "メイリオ", sans-serif;
    line-height: 1;
    font-size: 20px;
    font-weight: 200;
    white-space: nowrap;
    span{
      white-space: nowrap;

    }

    b{
      font-family: "Nobel-Regular", "レクサスロダン Pro M", "LexusRodinPro-M", "メイリオ", sans-serif;
      font-size: 30px;
      font-weight: 400;
      margin-left: -0.05em;

      small {
        font-size: 50% !important;
      }
    }
    @media screen and (max-width: 767px){
      font-size: 14px;
      b{
        font-size: 24px;
      }
      @media screen and (max-width: 375px){
        font-size: 14px;
        b{
          //font-size: 45px;
          font-size: 20px;
        }
      }
    }
  }
}





#top, #section01{
  .screen-layout__inner{
    
    h1{
      text-shadow: 1px 1px 20px rgba(0,0,0,0.4);
    }
  }

  .plus{
    font-style: normal;
    display: inline-block !important;
    transform: rotate(45deg);
  }
  .screen-layout__header{
    padding: 52px 60px;
    @media screen and (max-width: 767px){
      padding: 30px 20px 80px;
      @media screen and (max-width: 375px){
        padding: 6.666vw 5.333vw;
      }


      h1{
        //position: absolute;
        //top: 140px;
      }
    }
    box-sizing: border-box;

    h1 {
      position: relative;
      padding-bottom: 40px;
      margin-bottom: 30px;
      &:after {
        position: absolute;
        width: 60px;
        height: 2px;
        background: #fff;
        content: "";
        bottom: 0;
        left: 50%;
        margin-left: -30px;
      }
          
      @media screen and (max-width: 767px){
        margin-bottom: 20px;
        padding-bottom: 15px;
        &:after {
          width: 30px;
          height: 1px;
          margin-left: -15px;
        }
      }
    }

    p {
      margin-top: 20px;
      position: relative;
          
      @media screen and (max-width: 767px){
        margin-top: 15px;
      }
    }
    
    .no {
      display: inline-block;
    }
    .on {
      display: none;
    }

    .playIcon {
      display: block;
      img {
        width: 98px;
        height: auto;
        vertical-align: top;
        
        @media screen and (max-width: 767px){
          width: 49px;
          height: auto;
        }
      }

    }
    h1{
        //display: block;
        img {
          width: 900px;
          height: auto;
          
          @media screen and (max-width: 767px){
            width: 92%;
            height: auto;
          }
        }
      //}
    }
  }
}


#top {
  .screen-layout__header{
    padding: 52px 60px;
    @media screen and (max-width: 767px){
      padding: 30px 20px 180px;
      @media screen and (max-width: 375px){
        padding: 6.666vw 5.333vw 48vw;
      }
    }
  }

}

.pc-none{
  display: none;
}
@media screen and (max-width: 767px){
  .pc-none{
    display: block;
  }
}

.sp-none{
  display: block;
}
@media screen and (max-width: 767px){
  .sp-none{
    display: none;
  }
}

#news {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //width: 710px;
  z-index: 3;
  @media screen and (max-width: 767px){
    bottom: 8px;
  }

  
  .inner {
    max-width: 792px;
    margin: 0 auto;
    @media screen and (max-width: 767px){
      padding: 0 10px;
    }
  }

}

.newsContainer{
  .inner {
    position: relative;
  }

  margin: 0 auto;
  /*
  @media screen and (max-width: 767px){
    position: static;
  }*/
  /*
  //display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 280px;
  z-index: 100001;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  h3{
    color: #141414;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 1em;
    @media screen and (max-width: 767px){
      font-size: 13.5px;
      line-height: 13.5px;
      margin-bottom: 0.7em;
      @media screen and (max-width: 375px){
        font-size: 3.6vw;
      }
    }
  }
  @media screen and (max-width: 767px){
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    
    padding: 10px;
    //overflow: hidden;
  }
  */
  .inner {
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: 767px){
      flex-wrap: wrap;
    }
  
    margin: 0 auto;
  }


  

  .news {

    /*
    &.new {
      .news__header:after{
        background: #f00;
        color: #fff;
        content: "NEW";
        padding: 2px 3px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }*/

    @media screen and (max-width: 767px){
      margin-bottom: 2px;
    }

    .news__inner {
      background: #141414;
    }
    &:hover {
      .news__inner {
        background: #222222;
      }
    }

    box-sizing: border-box;
    padding: 0 2px;
    &:nth-child(odd) {
      padding-right: 0;
    }
    @media screen and (max-width: 767px){
      padding: 0 0px;
    }


    &.new {
      .news__header {
        
        position: relative;
      }
      .news__header:after {
        background: #e60000;
        display: block;
        content: "NEW";
        position: absolute;
        left: 4px;
        top: 4px;
        color: #fff;
        line-height: 18px;
        padding: 0 3px;

        font-size: 11px;
        @media screen and (max-width: 767px){
          font-size: 9px;
        }
      }
    }

    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-shrink: 1;
    @media screen and (max-width: 767px){
      flex-basis: 100%;
      
      flex-wrap: wrap;
    }
    
    .news__inner {
      display: flex;
      align-items: center;
      .news__header{
        padding: 4px;
        flex-basis: 150px;
        flex-shrink: 0;
        @media screen and (max-width: 767px){
          flex-basis: 102px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .news__body {
        text-align: left;
        padding: 20px;
        font-size: 14px;
        line-height: 1.3;
        p {
          color: #fff;
        }
        span {
          display: inline-block;
          color: #999999;
          margin-bottom: 5px;
        }
        @media screen and (max-width: 767px){
          //height: 80px;
          font-size: 11px;
          padding: 10px;
        }
      }
    }
  }

}


.button{
  cursor: pointer;
  border: 1px solid #444444;
  font-size: 16px;
  //line-height: 58px;
  line-height: 24px;
  padding: 17px 0;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  background: #222;

  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -120px;

  &.static{
    position: static;
    margin: 50px 0 0;
    display: block;

    @media screen and (max-width: 767px){
      margin: 30px 0 0 ;
    }

    &.align-center{
      margin-left: auto;
      margin-right: auto;
    }

  }

  transition: all 0.2s ease;
  &:hover{
    opacity: 1;
    transition: all 0s ease;
    color: #222;
    background: #FFF;
  }

  @media screen and (max-width: 767px){
    padding: 10px 0;
    font-size: 11.5px;
    line-height: 14px;
    margin-top: -88px;
    width: 225px;
    font-size: 11.5px;
    @media screen and (max-width: 375px){
      margin-top: -23.46vw;
      width: 60vw;
      font-size: 3.066vw;
    }
    
  }
  .arrow{
    margin-left: 20px;
    @media screen and (max-width: 767px){
      margin-left: 10px;
    }
  }
}

.profile{
  position: absolute;
  left: 50%;
  margin-left: 240px;
  width: 100%;
  background: rgba(0,0,0,0.75);
  font-size: 12px;
  top: 100%;
  margin-top: -130px;
  height: 114px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  //transform: skewX(-22.5deg);
  z-index: 10;
  p{
    //transform: skewX(22.5deg);
    padding-left: 20px;
  }

  @media screen and (max-width: 767px){
    font-size: 10.5px;
    margin-top: -100px;
    height: 85px;
    width: 280px;
    margin-left: 0;
    right: -40px;
    left: auto;
    p{
      //transform: skewX(22.5deg);
      padding-left: 10px;
      font-size: 10.5px;
      @media screen and (max-width: 375px){
        padding-left: 2vw;
        font-size: 2.8vw;
      }
    }
  }

}

@media screen and (max-width: 767px){
  #section02{
    .screen-layout__body{
      width: 75vw;
      padding-right: 0;
      @media screen and (max-width: 375px){
        width: 75vw;
      }
    }
  }
  #section04{
    .screen-layout__body{
      width: 76vw;
      padding-right: 0;
      @media screen and (max-width: 375px){
        width: 76vw;
      }
    }
  }
  #profile{
    .screen-layout__body{
      width: 100%;
      padding-right: 0px;
      @media screen and (max-width: 375px){
        width: 100%;
      }

      .button{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
      }
    }

    
  }
}

#profile{
  .screen-layout__body{
    padding-right: 0;
    p{
      padding-right: 60px;
    }
  }
}

.arrow{
  font-size: 12px;
  @media screen and (max-width: 375px){
    font-size: 3.2vw;
  }
  display: inline-block;
}

.copyright{
  position: absolute;
  left: 10px;
  bottom: 10px;
  pointer-events: none;
  img{
    width: auto;
    height: 12px;
    @media screen and (max-width: 767px){
      height: 8px;
    }
  }
}

#top,
#section01{
  .copyright{
    bottom: 97px;

    @media screen and (max-width: 767px){
      bottom: 109px;
    }
    img{
      width: auto;
      height: 12px;
      @media screen and (max-width: 767px){
        height: 9px;
      }
    }
  }
}

#calendar h1{
  line-height: 1.5;
  font-size: 30px;
  @media screen and (max-width: 767px){
    font-size: 20px;
    @media screen and (max-width: 375px){
      font-size: 5.333vw;
    }
  }
}



.content-wrapper {
  position: relative;
  .screen-layout + .screen-layout {
    margin-top: 60px;
  }
}
.content-title {
  display: table;
  width: 100%;
  height: 530px;
  min-height: 530px;
  @media screen and (max-width: 767px){
    height: 300px;
    min-height: 300px;
  
  }

  .content-title__inner{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 50px;
    position: relative;

    .copyright {
      bottom: 60px;
      @media screen and (max-width: 767px){
        bottom: 50px;
      }
    }

    h1 {
      text-align: left;
      letter-spacing: 0.05;
      font-size: 80px;
      line-height: 1;
      max-width: 880px;
      display: block;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px){
      padding-bottom: 40px;
      padding-left: 15px;
      h1 {
        font-size: 30px;
      }
    }
  }
}

.content-anchors {
  position: absolute;
  top: -50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-width: 980px;
  border-bottom: 1px solid #0057cd;
  @media screen and (max-width: 767px){
    min-width: auto;
    height: 40px;
    top: -40px;
  }

  &.fixed {
    position: fixed;
    top: 72px;
    z-index: 1;
    @media screen and (max-width: 767px){
      top: 72px;
    }
  }

  margin: 0 auto;

  .inner {

    max-width: 860px;
    margin: 0 auto;
    text-align: center;
  }

  a {
    color: #fff;
    font-size: 22px;
    line-height: 50px;

    & + a {
      margin-left: 60px;
    }
    @media screen and (max-width: 767px){
      line-height: 40px;
      font-size: 15px;

      & + a {
        margin-left: 30px;
      }
    }
  }

}


#redbullairrace {
  .content-title {
    background: url(../images/redbullairrace/header-visual.jpg) center top no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px){
      background: url(../images/redbullairrace/header-visual_sp.jpg) right top no-repeat;
      background-size: cover;
    }
  }


  .screen-layout--fixWidth {
    .screen-layout__inner {
      max-width: 840px;
      margin: 0 auto;
    }
  }


  .screen-layout__header {
    h4 {
      small {
        font-size: 80%;
        color: #999;
      }
    }
  }

  .sm-movie {
    @media screen and (max-width: 767px){
      margin-bottom: 20px;
    }
    & + .sm-movie {
      margin-top: 20px;
      @media screen and (max-width: 767px){
        margin-top: 0px;
      }
    }
  }
}

#redbullairrace {
#redbullairrace__header {
  color: #223971;

  h1 {
    text-align: right;
    padding-top: 240px;
  }
  
  background: url(../images/redbullairrace/header-visual-top.jpg) center top no-repeat;
  background-size: cover;
  @media screen and (max-width: 767px){
    background: url(../images/redbullairrace/header-visual-top_sp.jpg) right top no-repeat;
    background-size: cover;
  }
  
}
}


.begginer {
  background: #222;
  max-width: 840px;
  margin: 0 auto;

  &+.begginer {
    margin-top: 38px;
    @media screen and (max-width: 767px){
      margin-top: 15px;
    }
  }

  &__header {
    cursor: pointer;
    align-items: center;

    background: url(../images/redbullairrace/arrow.png) right 60px center no-repeat;
    background-size: 16px auto;
    @media screen and (max-width: 767px){
      margin-top: 15px;
      background: url(../images/redbullairrace/arrow.png) right 15px center no-repeat;
      background-size: 8px auto;
    }
    .flex-item {
      flex-basis: 100%;
    }
    .flex-item:first-child{
      flex-shrink: 0;
      flex-basis: 240px;
      @media screen and (max-width: 767px){
        flex-basis: 120px;
      }
    }
    img {
      width: 240px;
      @media screen and (max-width: 767px){
        width: 120px;
      }
    }
    h3 {
      padding: 0px 110px 0 30px;
      @media screen and (max-width: 767px){
        padding: 0px 45px 0 15px;
      }
    
      font-family: "Nobel-Normal", "レクサスロダン Pro B", "LexusRodinPro B", "メイリオ";
      font-size: 28px;
      text-align: left;
      line-height: 1.2;
      @media screen and (max-width: 767px){
        font-size: 15px;
      }
    }
  }

  &__body {
    //padding: 20px 60px 60px;
    display: none;
    text-align: left;

    img {
      width: 100%;
      height: auto;
      margin-top: 30px;

      @media screen and (max-width: 767px){
        margin-top: 20px;
      }
    }

    padding-bottom: 30px;

    @media screen and (max-width: 767px){
      //padding: 0px 15px 25px;
      padding-bottom: 15px;
    }
    h3 {
      font-size: 20px;
      text-align: left;
      color: #fff;
      line-height: 1.2;
    
      font-family: "Nobel-Normal", "レクサスロダン Pro B", "LexusRodinPro B", "メイリオ";
    }
    h4 {
      white-space: inherit;
      font-size: 18px;
      text-align: left;
      color: #fff;
      line-height: 1.2;
    
      font-family: "Nobel-Normal", "レクサスロダン Pro B", "LexusRodinPro B", "メイリオ";
      border-bottom: 1px solid #464646;
      margin-bottom: 1em;
      padding: 1em 0;
    }
    font-size: 18px;


    .block {
      padding: 30px 60px;
      @media screen and (max-width: 767px){
        padding: 20px 15px;
      }
    }

    .header {
      cursor: pointer;
      padding: 30px 0;
      @media screen and (max-width: 767px){
        padding: 20px 0;
      }
      border-bottom: 1px solid #0056cc;
      h4 {
        white-space: inherit;
        border: none;
        margin: 0;
        padding: 0px 110px 0 60px;
        @media screen and (max-width: 767px){
          padding: 0px 55px 0 15px;
        }
      
        font-family: "Nobel-Normal", "レクサスロダン Pro B", "LexusRodinPro B", "メイリオ";
        font-size: 28px;
        text-align: left;
        @media screen and (max-width: 767px){
          font-size: 15px;
        }
      }

      background: url(../images/redbullairrace/arrow_up.png) right 60px center no-repeat;
      background-size: 26px auto;
      @media screen and (max-width: 767px){
        margin-top: 15px;
        background: url(../images/redbullairrace/arrow_up.png) right 15px center no-repeat;
        background-size: 13px auto;
      }
    }
    
    font-family: "Nobel-Light", "レクサスロダン Pro M", "LexusRodinPro M", "メイリオ";


    .block + .block {
      //margin-top: 60px;
    }
    @media screen and (max-width: 767px){
      font-size: 12px;
      h3 {
        font-size: 15px;
      }
      h4 {
        font-size: 14px;
      }

      .block + .block {
        padding-top: 0;
       // margin-top: 30px;
      }
    }
  }


  &.is-active{

    .begginer__header {
      display: none;
    }

    .begginer__body {
      display: block;
    }

  }

  &__footer {
    padding: 20px 0;
    border-top: 1px solid #0056cc;

    button {
      width: 100%;
      text-align: center;
      color: #fff;
      //color: #464646;
    }
  }
}




#report {

  .button {
    opacity: 1;
  }

  .screen-layout__inner {
    max-width: 840px;
    margin: 0 auto;
  }
  .screen-layout__body {
    padding: 20px 0;
  }
}


#begginers, #report, #schedule {

  position: relative;
  padding-top: 182px !important;
  top: -122px;
  margin-bottom: -122px;
  @media screen and (max-width: 767px){
    padding-top: 152px !important;
    top: -112px;
    margin-bottom: -112px;
  }
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}
