@charset "utf-8";


@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin css3($property, $value...) {
     @each $prefix in -webkit-, '' {
          #{$prefix}#{$property}: $value;
     }
}

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }

  &:after {

    clear: both;
  }
}

@function getVW($size, $viewport:640px){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin inline-list{
  li{
    display: inline-block;
  }
}

