@include keyframes(rotateIn) {
  0% {transform-origin: center top; transform: rotate(0deg); }
  25% {transform-origin: center top; transform: rotate(0deg); }
  50% {transform-origin: center top; transform: rotate(-1.2deg); }
  75% {transform-origin: center top; transform: rotate(0.6deg); }
  100% {transform-origin: center top; transform: rotate(0); }
}

@mixin rotateIn($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(rotateIn);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
