/**
 * SNS share
 */
.sns {
	position: relative;
}
.sns {
	padding: 64px 0 30px 0;
}
.sns {
	padding: 45px 0 30px 0;
}
.sns ul {
	margin: auto;
	width: 159px;
}
.sns ul:after { 
	content: "";
	display: block;
	clear: both;
}
.sns li {
	float: left;
	margin: 0 5px;
	width: 43px;
	height: 42px;
}
.sns li a {
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
}
 .sns li a:hover {
	background-position: 0 -42px;
}
.sns li.tw a {
	background-image: url(../images/common/sns_twitter.png);
}
.sns li.fb a {
	background-image: url(../images/common/sns_facebook.png);
}
.sns li.g a {
	background-image: url(../images/common/sns_google.png);
}
 .sns .caption {
	margin-top: 15px;
	text-align: center;
	font-size: 10px;
}

.sns .like {
	position: absolute;
	top: 145px;
	width: 100%;
}
.sns .like  .like_button {
	margin: auto;
	width: 115px;
}

