@charset "UTF-8";
/* ==========================================================================
   BRAND
   ========================================================================== */
/* -----------------------------------------------------------------
   BRAND common - head
   ----------------------------------------------------------------- */
.brand-head {
  background-color: rgba(253, 253, 253, 0.95);
  width: 100%;
  height: 72px;
}

.theme-dark .brand-head {
  background-color: #000;
}

.brand-head_wrap {
  background-color: rgba(253, 253, 253, 0.95);
  width: 100%;
  position: relative;
  z-index: 14 !important;
}

.theme-dark .brand-head_wrap {
  background-color: rgba(19, 19, 19, 0.95);
}

.brand-head.is-fixed .brand-head_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.brand-breadcrumbs {
  width: 100%;
}

.brand-head_inner {
  position: relative;
  z-index: 600;
}

.brand-head_content {
  box-sizing: border-box;
}

.brand-head_title {
  font-family: "Nobel-Book", "レクサスロダン Pro M", "LexusRodinPro-M", "メイリオ",  sans-serif;
  line-height: 1;
  float: left;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.theme-dark .brand-head_title a {
  color: #fff;
}

.brand-head_titleIcon {
  background-color: #8E9699;
  border-radius: 25px;
  color: #fff;
  font-family: "Nobel-Regular", "レクサスロダン Pro M", "LexusRodinPro-M", "メイリオ",  sans-serif;
  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-left: 10px;
  padding: 3px 8px;
  display: inline-block;
  position: relative;
  top: -3px;
}
.brand-head_titleIcon:hover {
  opacity: 0.7;
}

.theme-dark .brand-head_titleIcon {
  background-color: #717171;
  color: #000;
}

.brand-head_button {
  cursor: pointer;
}

.brand-category_item {
  margin: 0;
  font-size: 12px;
}

.brand-category_link {
  line-height: 1;
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.theme-dark .brand-category_link {
  color: #fff;
}

.brand-category_text {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.brand-category_link:hover .brand-category_text {
  opacity: 0.7;
}

@media screen and (min-width: 768px){
  .st-header {
    height: 80px;
  }
  .brand-head{
    min-width: 984px;
  }
  .brand-head_wrap{
    min-width: 984px;
    height: 72px;
  }
  .brand-head_wrap:after{
    content: '';
    background-color: #EDEDED;
    display: block;
    width: 100%;
    height: 1px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }
  .brand-head_wrap.is-active:after,
  .brand-head_wrap.is-selected:after{
    opacity: 0;
  }
  .theme-dark .brand-head_wrap:after{
    background-color: #232323;
  }
  .brand-breadcrumbs{
    min-width: 984px;
    height: 24px;
  }
  .brand-breadcrumbs_list{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 7px 12px 0;
    width: 984px;
  }
  .brand-head_content{
    margin: 0 auto;
    padding: 0 12px;
    width: 984px;
  }
  .brand-head_detail{
    float: left;
  }
  .brand-head_title{
    font-size: 32px;
    padding: 9px 0 6px;
  }
  .brand-head_button{
    display: none;
  }
  .brand-head_control{
    float: right;
  }
  .brand-category_list{
    font-size: 0;
    display: inline-block;
  }
  
  .brand-category_list li{
    position: relative;
  }
  .brand-category_list li > ul{
    font-size: 0;
    display: inline-block;

    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 0px;
    pointer-events: auto;

    background: rgba(32, 32, 32, 0.9);
  }
  
  .brand-category_list li:last-child > ul{
    right: 0;
  }
  .brand-category_list li:hover > ul{
    display: block;
  }
  .brand-category_item{
    display: inline-block;
  }
  .brand-category_list li > ul .brand-category_item{
    display: block;
    white-space: nowrap;
  }
  .brand-category_link{
    padding: 17px 10px 18px;
  }
  .brand-category_list li > ul{
    padding: 10px;
  }
  .brand-category_list li > ul .brand-category_item .brand-category_link{
    padding: 10px 10px 10px;
  }
  .brand-category_list li > ul .brand-category_item .brand-category_link:after{
    background: none;
  }
  .brand-category_link:after{
    content: '';
    background-color: #000;
    margin: 0 auto;
    width: 70%;
    height: 1px;
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease-out, width 0.1s cubic-bezier(0, 0.65, 0.35, 1);
    transition: opacity 0.2s ease-out, width 0.1s cubic-bezier(0, 0.65, 0.35, 1);
  }
  .theme-dark .brand-category_link:after{
    background-color: #fff;
  }
  .brand-category_item.is-selected .brand-category_link:after,
  .brand-category_item:hover .brand-category_link:after{
    width: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 767px){
  .brand-head.is-fixed .brand-head_wrap{
    background-color: transparent;
  }
  .brand-breadcrumbs{
    height: 28px;
  }
  .brand-head.is-fixed .brand-breadcrumbs{
    box-sizing: border-box;
    background-color: rgba(253, 253, 253, 0.95);
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
  }
  .theme-dark .brand-breadcrumbs{
    background-color: rgba(19, 19, 19, 0.95);
  }
  .theme-dark .brand-head.is-fixed .brand-breadcrumbs{
    background-color: rgba(19, 19, 19, 0.95);
  }
  .brand-breadcrumbs_list{
    padding: 11px 12px 0;
  }
  .brand-head_content{
    width: 100%;
    position: relative;
  }
  .brand-head_detail{
    box-sizing: border-box;
    background-color: rgba(253, 253, 253, 0.95);
    border-bottom: 1px solid #EDEDED;
    padding: 0 12px;
    height: 44px;
    position: relative;
  }
  .theme-dark .brand-head_detail{
    background-color: rgba(19, 19, 19, 0.95);
    border-bottom: 1px solid #232323;
  }
  .brand-head_detail.is-open{
    border-bottom: none;
  }
  .brand-head.is-fixed .brand-head_detail{
    width: 100%;
    position: fixed;
    top: 28px;
    left: 0;
    z-index: 2000;
  }
  .brand-head_title{
    font-size: 14px;
    line-height: 22px;
    padding: 11px 0 10px;
  }
  .brand-head_button{
    background: url(/common/v3/images/icon/arrow/ico_dropdown.png) no-repeat 0 0;
    background-size: 48px auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    margin: auto 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
  }
  .brand-head_buttonText{
    display: none;
  }
  .brand-head_button.is-open{
    background-position: 0 -24px;
  }
  .theme-dark .brand-head_button{
    background-position: -24px 0;
  }
  .theme-dark .brand-head_button.is-open{
    background-position: -24px -24px;
  }
  .brand-head_control{
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 1500;
    -webkit-transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  }
  .theme-dark .brand-head_control{
    border-bottom: 1px solid #232323;
  }
  .brand-head_control.is-open{
    opacity: 1;
    visibility: visible;
  }
  .brand-head.is-fixed .brand-head_control.is-open{
    padding-top: 82px;
    max-height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1300;
    -webkit-overflow-scrolling: touch;
  }
  .brand-category_item a{
    display: block;
    position: relative;
    padding: 16px 16px;
    background-color: rgba(19, 19, 19, 0.95);
  }
  .brand-category_item ul{
    padding: 0px 16px 0px 32px;
    background-color: rgba(40, 40, 40, 0.80);
  }
  .brand-category_item .brand-category_item a{
    display: block;
    position: relative;
    padding: 15px 10px;
    background: none;
  }
  .brand-category_item.is-selected:after{
    content: '';
    background-color: #E4E4E4;
    margin: auto 0;
    display: block;
    width: 8px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .brand-category_item ul .brand-category_item:not(:last-child){
    border-bottom: 1px solid #666666;
    display: block;
  }
  .theme-dark .brand-category_item.is-selected:after{
    background-color: #fff;
  }
  .theme-dark .brand-category_item ul .brand-category_item:not(:last-child){
    border-bottom: 1px solid #666666;
  }
  .brand-category_link{
    font-size: 13px;
    padding: 14px 0 13px 8px;
  }
  .brand-category_item.is-selected .brand-category_link{
    padding-left: 20px;
  }
}
