@charset "UTF-8";

/* overwrote /models/common/css/models.css */
.js body.top #footer,
.js body.top .hero-visual.w-1600.movie .hero-visual-inner figure img,
.js .hero-visual,
.js .content-wrap {
	opacity: 1;
	visibility: visible;
}

/* ==========================================================================
   Main Visual Movie
   ========================================================================== */

/**
 * .hero-visual
 */

.hero-visual {
	margin: 0 auto;
	padding: 0;
	background-color: #000;
}
.js .hero-visual {
	visibility: hidden;
}

.hero-visual .hero-visual-inner {
	max-width: 1280px;
	min-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.hero-visual.w-1600 .hero-visual-inner {
	max-width: 1600px;
}
/* IE6 fallback */
html.lt-ie7 .hero-visual .hero-visual-inner {
	width: 1280px;
}

.hero-visual .hero-visual-inner figure {
	position: relative;
	margin: 0 auto;
	height: 405px;
	background-repeat: no-repeat;
	background-position: center top;
}

.hero-visual .hero-visual-inner figure img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0 auto;
}

.hero-visual .hero-visual-inner figure figcaption {
	position: absolute;
	z-index: 2;
	line-height: 1.834;
}

.hero-visual .hero-visual-inner figure figcaption strong {
	display: inline-block;
	margin: 0 0 17px 0;
	font-size: 14px;
	line-height: 1.857;
}
/* IE6/7 fallback */
html.lt-ie8 .hero-visual .hero-visual-inner figure figcaption strong {
	display: inline;
	zoom: 1;
}

/* h1 */
.hero-visual .hero-visual-inner .container {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: auto;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center top;
}

.hero-visual .hero-visual-inner .container h1 img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0 auto;
}

.hero-visual .hero-visual-inner .container p {
	position: absolute;
	top: 178px;
	left: 186px;
	z-index: 2;
	margin: 0;
	color: #fff;
	line-height: 1.834;
}

.hero-visual.w-1600.hero-movie {
	position: relative;
	height: 405px;
	line-height: 0;
	overflow: hidden;
}

.hero-visual.w-1600.hero-movie .hero-visual-wrap {
	max-width: 1600px;
	min-width: 980px;
	height: 405px;
	margin: 0 auto;
	overflow: hidden;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner {
	position: relative;
	width: 980px;
	height: 405px;
	overflow: visible;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner iframe {
	position: absolute;
	top: -248px;
	left: -300px;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner div.alt {
	display: none;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 1;
	width: 1600px;
	height: 405px;
	background: url("../images/img_hero.jpg") no-repeat center center;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner span.mask {
	display: none;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 2;
	width: 1600px;
	height: 405px;
	background: url("../images/mask_hero.png") repeat left top;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner span.playmark {
	display: none;
	position: absolute;
	top: 143px;
	left: 380px;
	z-index: 4;
	width: 120px;
	height: 120px;
	background: url("/common/v2/images/icon/btn_videos_hover.png") no-repeat center center;
}

/*
.hero-visual.w-1600.hero-movie .hero-visual-inner span.logo {
	display: none;
	position: absolute;
	bottom: 40px;
	left: 50px;
	z-index: 5;
	width: 260px;
	height: 171px;
	background: url("../images/txt_hero.png") no-repeat center center;
}
*/

.hero-visual.w-1600.hero-movie .hero-visual-inner span.rollover {
	display: none;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 6;
	width: 1600px;
	height: 405px;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	background-color: #000;
}

.hero-visual.w-1600.hero-movie .hero-visual-inner a {
	display: none;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 7;
	width: 1600px;
	height: 405px;
	margin: 0 auto;
	padding: 0;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	background-color: #000;
}

body.responsive .hero-visual-sp {
	display: none;
}

body.responsive .hero-visual-sp a:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-ms-filter: "alpha(opacity=75)";
}

/* ==========================================================================
   #main
   ========================================================================== */

#main h2 {
	max-width: inherit;
	min-width: inherit;
	margin-bottom: 20px;
	background: transparent;
	text-align: left;
}
#main .lead h2 {
	margin-bottom: 50px;
	text-align: center;
}

/* .lead */
#main .lead {
	margin: 70px 0 100px 0;
}

#main .lead .btn-press {
	margin-top: 40px;
	text-align: center;
}

#main .lead .btn-press a {
	outline: none;
}

.bxslider {
	list-style: none;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.bxslider li {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

.bxpager {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
}
.bxpager:before,
.bxpager:after { content: " "; display: table; }
.bxpager:after { clear: both; }
.bxpager { *zoom: 1; }

.bxpager li {
	float: left;
	margin: 5px 0 0 5px;
	padding: 0;
	overflow: hidden;
}

.bxpager li a {
	display: block;
	opacity: 0.50;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	-ms-filter: "alpha(opacity=50)";
	-moz-transition: all 150ms ease-in-out 0s;
	-webkit-transition: all 150ms ease-in-out 0s;
	-o-transition: all 150ms ease-in-out 0s;
	-ms-transition: all 150ms ease-in-out 0s;
	transition: all 150ms ease-in-out 0s;
	outline: none;
}
.bxpager li a:hover,
.bxpager li a.active {
	display: block;
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-ms-filter: "alpha(opacity=100)";
}

/* IE8 */
html.lt-ie9 .bxpager li a img {
	opacity: 0.50;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	-ms-filter: "alpha(opacity=50)";
}
html.lt-ie9 .bxpager li a:hover img,
html.lt-ie9 .bxpager li a.active img {
	display: block;
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-ms-filter: "alpha(opacity=100)";
}

/* ==========================================================================
   @SP
   ========================================================================== */

@media all and (max-width: 767px) {

	p,
	.button {
	    font-size: 15px;
	}
	
	.disclaimer dt {
		font-size: 12px;
	}
	
	.disclaimer dd {
		font-size: 12px;
	}
	
	.to-page-top {
		visibility: hidden;
		margin: 0;
		padding: 0;
	}
	
	.to-page-top a {
		display: none;
	}
	
	body.responsive .hero-visual.w-1600.hero-movie {
		display: none;
	}
	
	body.responsive .hero-visual-sp {
		display: block;
	}
	
	body.responsive .hero-visual-sp figure img {
		width: 100.0%;
	}
	
	#main .container {
		padding: 0 20px;
	}
	
	#main h2 {
		margin-bottom: 15px;
	}
	#main .lead h2 {
		margin-bottom: 40px;
	}
	
	#main .lead {
		margin: 40px 0 100px 0;
	}
	
	#main .lead h2 img {
		width: 100.0%;
		height: auto;
	}
	@media screen and (orientation: landscape) {
		#main .lead h2 img {
			width: 70.0%;
			height: auto;
		}
	}
	
	#main .lead .btn-press {
		margin-top: 30px;
	}
	
	#main .lead .btn-press a {
		width: 100.0%;
		padding: 17px 4px 15px 0;
		background: #6a7da3 url("../../../../common/v2/images/icon/ico_arrow_l@2x.png") no-repeat 97.0% 11px;
		background-size: 25px auto;
	}
	
	.bxslider-wrapper {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.bxpager li {
		margin: 2.0% 0 0 2.0%;
		width: 18.4%;
		height: auto;
	}
	
	.bxpager li img {
		width: 100.0% !important;
		height: auto;
	}
}

/* Localized */