@charset "UTF-8";
a {
  outline: none;
  cursor: pointer;
}
a:focus {
  outline: none;
}

.cf:before, .muro-movie:before, #muro-nav .nav-wrapper:before, .events-wrapper .events-box:before, .bread-crumb:before, .race-gallery-li:before, .profile-wrapper:before, .cf:after, .muro-movie:after, #muro-nav .nav-wrapper:after, .events-wrapper .events-box:after, .bread-crumb:after, .race-gallery-li:after, .profile-wrapper:after {
  content: " ";
  display: table;
}

.cf:after, .muro-movie:after, #muro-nav .nav-wrapper:after, .events-wrapper .events-box:after, .bread-crumb:after, .race-gallery-li:after, .profile-wrapper:after {
  clear: both;
}

.cf, .muro-movie, #muro-nav .nav-wrapper, .events-wrapper .events-box, .bread-crumb, .race-gallery-li, .profile-wrapper {
  *zoom: 1;
}

.container {
  box-sizing: border-box;
  padding: 0;
}

.top section {
  padding-top: 100px !important;
}

#brand {
  background: black;
  color: white;
}

.bxslider-wrapper {
  box-sizing: border-box;
  background: black;
  width: 100%;
}

#muro-nav {
  box-sizing: border-box;
  position: relative;
  z-index: 888;
  width: 100%;
  height: 40px;
  top: 71px;
  padding: 0 0 0 20px;
  background-color: gray;
}
#muro-nav .nav-wrapper {
  box-sizing: border-box;
  width: 970px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background: url(../images/common/nav/bg-list.png) no-repeat left center;
  background-size: 970px 40px;
}
#muro-nav .nav-wrapper ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#muro-nav .nav-wrapper ul li {
  box-sizing: border-box;
  list-style: none;
  text-indent: -99999px;
  float: left;
  padding: 0;
}
#muro-nav .nav-wrapper ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#muro-nav .nav-wrapper ul li a:last-child {
  margin-right: 0;
}
#muro-nav .nav-wrapper ul li a.nav-top {
  width: 89px;
  height: 40px;
  background: url(../images/common/nav/li-top.png) no-repeat left bottom;
}
#muro-nav .nav-wrapper ul li a.nav-top:hover, #muro-nav .nav-wrapper ul li a.nav-top.active {
  background: url(../images/common/nav/li-top_on.png);
}
#muro-nav .nav-wrapper ul li a.nav-events {
  width: 204px;
  height: 40px;
  background: url(../images/common/nav/li-event.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-events:hover, #muro-nav .nav-wrapper ul li a.nav-events.active {
  background: url(../images/common/nav/li-event_on.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-races {
  width: 135px;
  height: 40px;
  background: url(../images/common/nav/li-races.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-races:hover, #muro-nav .nav-wrapper ul li a.nav-races.active {
  background: url(../images/common/nav/li-races_on.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-profile {
  width: 156px;
  height: 40px;
  background: url(../images/common/nav/li-profile.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-profile:hover, #muro-nav .nav-wrapper ul li a.nav-profile.active {
  background: url(../images/common/nav/li-profile_on.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-movie {
  width: 156px;
  height: 40px;
  background: url(../images/common/nav/li-movie.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-movie:hover, #muro-nav .nav-wrapper ul li a.nav-movie.active {
  background: url(../images/common/nav/li-movie_on.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-about {
  width: 230px;
  height: 40px;
  margin-right: 0 !important;
  background: url(../images/common/nav/li-about.png) no-repeat center bottom;
}
#muro-nav .nav-wrapper ul li a.nav-about:hover, #muro-nav .nav-wrapper ul li a.nav-about.active {
  background: url(../images/common/nav/li-about_on.png) no-repeat center bottom;
}

.muro-nav_fixed {
  box-sizing: border-box;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  height: 40px;
  padding-top: 0 !important;
}
.muro-nav_fixed .nav-wrapper {
  margin-top: 0 !important;
  padding: 0 !important;
}

#brand {
  padding-top: 0 !important;
}
#brand .muro-main {
  margin-top: 0;
  padding-top: 0 !important;
  padding-bottom: -20px;
}
#brand #muro-main-wrap {
  padding-top: 30px !important;
}
#brand #muro-main-wrap > .container > section {
  padding-top: 0 !important;
}

.muro-races-index {
  margin-bottom: -10px;
  padding-top: 100px;
  padding-bottom: 80px;
}

.muro-races {
  margin-top: 20px;
  padding-top: 60px;
}

.muro-movie {
  margin-top: 20px;
  padding-top: 60px;
}

.sm-movie {
  box-sizing: border-box;
}

.sm-movie .copy{
  color: #ccc;
  position: static;
  font-size: 12px;
}
.sm-movie img {
  width: 100%;
  height: auto;
  background: #000;
}
.sm-movie img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.sm-movie a {
  width: 100%;
  height: auto;
}

body.top .hero-movie {
  box-sizing: border-box;
  height: 242px !important;
}
body.top .hero-movie .hero-visual-inner {
  width: 100% !important;
  min-width: inherit;
  height: inherit !important;
}
body.top .hero-movie .playmark {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.flex-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

.flex-items {
  width: 49%;
}

.muro-events {
  margin-bottom: -10px;
  padding-top: 60px;
}

.muro-profile {
  margin-bottom: -10px;
  margin-top: -20px;
  padding-top: 60px;
}

.muro-about {
  padding-top: 60px;
  margin-top: -20px;
  margin-bottom: 80px;
}

.muro-races-second h1 {
  display: block;
  width: 100%;
  height: auto;
}
.muro-races-second h1 img {
  width: 100%;
  height: auto;
}

.events-wrapper {
  /*
    .bnr_events a:hover, .bnr_events_sp a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
    }
  */
}
.events-wrapper .bnr_events, .events-wrapper .bnr_events_sp {
  margin-bottom: 20px;
}
.events-wrapper .bnr_events img, .events-wrapper .bnr_events_sp img {
  width: 100%;
  height: auto;
}
.events-wrapper a {
  text-decoration: none;
}
.events-wrapper .events-box {
  margin-bottom: 20px;
  padding-top: 20px;
  background: black;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 25px;
}
.events-wrapper .events-box:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  text-decoration: underline;
}
.events-wrapper .events-box img {
  display: block;
  max-width: 180px;
  height: auto;
  float: left;
  margin: 0 30px 0 0;
}
.events-wrapper .events-box p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: normal;
  overflow: auto;
  zoom: 1;
}
.events-wrapper .events-box p.event-title {
  font-weight: bold;
  font-size: 0.9rem;
  padding-top: 5px;
}
.events-wrapper .events-box p.event-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-bottom: 12px;
}
.events-wrapper .events-box a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
.events-wrapper .events-box a:hover {
  text-decoration: underline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.bread-crumb {
  margin-bottom: -30px;
}
.bread-crumb ul {
  padding: 0;
}
.bread-crumb ul li {
  display: block;
  float: left;
  margin-right: 5px;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}
.bread-crumb ul li:after {
  content: " >";
}
.bread-crumb ul li:last-child:after {
  content: none;
}
.bread-crumb ul li a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.bread-crumb ul li a:hover {
  color: white;
  text-decoration: underline;
}

.h1-races {
  max-width: 500px;
  max-height: 189px;
  width: 100%;
  height: auto;
  margin: 0 auto 30px;
}
.h1-races img {
  width: 100%;
  height: auto;
}

.bnr_races, .bnr_races_sp, .bnr_races img, .bnr_races_sp img {
  width: 100%;
  height: auto;
}

.races-slider {
  width: 100%;
  height: auto;
}
.races-slider img {
  width: 100%;
  height: auto;
}

.muro-races-second .bnr_races, .muro-races-second .bnr_races_sp {
  margin-bottom: 20px;
}

.muro-races-index .bnr_races, .muro-races-index .bnr_races_sp {
  margin-bottom: 20px;
}

.events-contents {
  padding-top: 10px;
}
.events-contents .events-title {
  text-align: left;
  border: none;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 0;
  margin: 0 0 20px 0 !important;
}
.events-contents table.date-title {
  position: relative;
  margin-bottom: 5px;
}
.events-contents table.date-title td {
  vertical-align: middle;
}
.events-contents table.date-title td.e-date p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}
.events-contents table.date-title td.cat-title {
  padding-right: 10px;
}
.events-contents table.date-title td.cat-title p {
  font-weight: normal;
  font-size: 0.6rem;
  padding: 2px 5px 0;
  margin-bottom: 2px;
  border: 1px solid white;
}
.events-contents .muro-movie {
  margin-top: -60px;
}

.race-slider {
  margin-top: 80px;
}

.race-contents > h1, .events-contents > h1 {
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 7px 10px 3px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 30px;
}

span.sub-title {
  font-size: 18px;
  display: inline !important;
  white-space: normal !important;
}
span.sub-title span {
  display: inline-block;
  white-space: nowrap;
}

.race-contents > h1 span, .events-contents > h1 span {
  display: inline-block;
  white-space: nowrap;
}

.race-contents > h2 {
  text-align: left;
  font-size: 22px;
}

.race-contents .contents_img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.race-contents .contents_img_vertical {
  display: block;
  max-width: 390px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.race-contents p a {
  color: rgba(255, 255, 255, 0.7);
}
.race-contents p a:hover {
  color: white;
  text-decoration: underline;
}

.race-contents > p, .events-contents > p {
  font-size: 1rem;
  word-break: break-word;
  line-height: 1.834;
  margin: 15px 0;
}

.race-gallery-li {
  box-sizing: border-box;
  margin-top: 5px;
}
.race-gallery-li li {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0.5%;
  width: 10%;
  height: auto;
}

.main_container {
  box-sizing: border-box;
  background: black;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

.catch p {
  line-height: 1.6;
}

.pc-text {
  padding: 0 20px;
}
.pc-text p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

.prof-pc-text {
  padding: 0 20px;
}
.prof-pc-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.sp-text {
  display: none !important;
  padding: 0 10px;
}
.sp-text p {
  font-size: 1rem;
  text-align: left !important;
  line-height: 1.6;
}

.movie-cap {
  line-height: 1.6;
  font-size: 16px;
}
.movie-cap span {
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.7);
}

.header-title {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.muro_h1, .muro_h1-top, .muro_h1-events, .muro_h1-movie, .muro_h1-profile, .muro_h1-win, .muro_h1-win_sp, .muro_h1-races, .muro_h1-race, .muro_h1-photogallery {
  display: block;
  margin: 0 auto 20px;
}

.muro_h1 img, .muro_h1-top img, .muro_h1-events img, .muro_h1-movie img, .muro_h1-profile img, .muro_h1-win img, .muro_h1-win_sp img, .muro_h1-races img, .muro_h1-race img, .muro_h1-photogallery img {
  width: 100%;
  height: auto;
}

.sns ul {
  list-style: none;
}

.muro_h1-top {
  max-width: 428px;
  width: 100%;
  max-height: 46px;
  height: auto;
  padding-bottom: 20px;
}
.muro_h1-top img {
  width: 100%;
  height: auto;
}

.muro_h1-top-pic, .muro_h1-top-pic-b {
  display: block;
  position: relative;
  max-width: 880px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.muro_h1-top-pic img, .muro_h1-top-pic-b img {
  width: 100%;
  height: auto;
}
.muro_h1-top-pic .h1-muro-top, .muro_h1-top-pic-b .h1-muro-top {
  display: block;
  position: absolute;
  height: auto;
  max-width: 50%;
  width: auto;
  top: 16%;
  left: 4%;
}
.muro_h1-top-pic .h1-muro-top img, .muro_h1-top-pic-b .h1-muro-top img {
  width: 100%;
  height: auto;
}

#guideline {
  width: 100%;
  max-width: 880px;
}
#guideline h2 {
  width: 100%;
  max-width: 880px;
  min-width: 880px;
  font-family: "Nobel-Light", "レクサスロダン Pro L", "LexusRodinPro-L", sans-serif;
  font-weight: lighter;
  font-size: 34px;
}
#guideline h2 > span {
  display: inline-block;
  white-space: nowrap;
}
#guideline ol {
  box-sizing: border-box;
  margin: 10px 0 30px 1em;
}
#guideline ol li {
  font-size: 16px;
  line-height: 1.6;
  list-style: decimal;
  padding-left: 10px;
}
#guideline ul {
  box-sizing: border-box;
  margin: 10px 0 30px 1em;
}
#guideline ul li {
  font-size: 16px;
  line-height: 1.6;
  list-style: disc;
}
#guideline .guide-list {
  box-sizing: border-box;
  padding-left: 1em;
}
#guideline .guide-list a {
  color: white;
  font-size: inherit;
}
#guideline .guide-list a:hover {
  color: white;
  text-decoration: underline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#guideline .guide-list a:visited {
  color: white;
}

.goyoshi_h1 {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  padding: 15px 0;
}
.goyoshi_h1 h1 {
  font-family: "Nobel-Light", "レクサスロダン Pro L", "LexusRodinPro-L", sans-serif;
  font-weight: lighter;
  font-size: 34px;
}
.goyoshi_h1 h1 > span {
  display: inline-block;
  white-space: nowrap;
}
.goyoshi_h1 .guide-sub {
  margin-top: 10px;
  font-size: 18px;
}

.goyoshi_h2 {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px 0 10px;
  padding: 15px 0;
}
.goyoshi_h2 h2 {
  font-family: "Nobel-Light", "レクサスロダン Pro L", "LexusRodinPro-L", sans-serif;
  font-weight: lighter;
  font-size: 34px;
  color: #999;
}
.goyoshi_h2 h2 > span {
  display: inline-block;
  white-space: nowrap;
}

#go-yoshi .yoshi-ale p {
  word-break: break-word;
  margin-bottom: 15px;
}

.insta {
  position: relative;
}
.insta ul {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.4em;
  width: 100%;
  flex-wrap: wrap;
}
.insta ul li {
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
  letter-spacing: 0;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  width: 282px;
  background: #2A2A2A;
  margin: 0 10px 10px 0px;
}
.insta ul li:nth-child(3n) {
  margin: 0 0 10px 0;
}
.insta ul li p {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}
.insta ul li .description {
  display: block;
  text-align: left;
  font-size: 12px;
}
.insta ul li img {
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.yoshi-tweet {
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: white;
  font-size: 28px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #3E3E3E;
  margin: 120px 0 20px;
  padding: 20px;
  text-align: center;
}
.yoshi-tweet span {
  font-size: 20px;
}
.yoshi-tweet:hover {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.anchor-arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 24px;
  vertical-align: middle;
  text-decoration: none;
}
.anchor-arrow:before, .anchor-arrow:after {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow-down:before {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}
.arrow-down:after {
  left: 4px;
  top: 4px;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-top: 4px solid #111;
}

.link-arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 24px;
  vertical-align: middle;
  text-decoration: none;
}
.link-arrow:before, .link-arrow:after {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow-right:before {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}
.arrow-right:after {
  left: 7px;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-left: 4px solid #111;
}

.link-privacy {
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
}
.link-privacy a {
  font-size: 18px;
  text-align: center;
  color: white;
  margin-right: 2em;
}
.link-privacy a:hover {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: underline;
}
.link-privacy a:visited {
  color: white;
}

.race-archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.race-archive .bnr_races, .race-archive .bnr_races_sp {
  box-sizing: border-box;
  width: 49%;
}

.muro-races {
  max-width: 880px;
  width: 100%;
  height: auto;
}
.muro-races img {
  width: 100%;
  height: auto;
}

.muro_h1-events {
  max-width: 286px;
  width: 100%;
  height: 30px;
}

.muro_h1-movie {
  max-width: 109px;
  width: 100%;
  height: 30px;
}

.muro_h1-profile {
  max-width: 130px;
  width: 100%;
  height: 30px;
}

.muro_h1-win {
  max-width: 676px;
  width: 100%;
  height: 30px;
}

.muro_h1-win_sp {
  display: none;
  max-width: 459px;
  width: 100%;
}

.muro_h1-races {
  display: block;
  margin: 0 auto 20px;
  max-width: 106px;
  width: 100%;
  height: 30px;
}

.muro_h1-races-2016 {
  display: block;
  margin: 0 auto 20px;
  max-width: 187px;
  width: 100%;
  height: 30px;
}

.muro_h1-races-2017 {
  display: block;
  margin: 0 auto 20px;
  max-width: 185px;
  width: 100%;
  height: 30px;
}

.muro_h1-race {
  max-width: 369px;
  width: 100%;
  height: 29px;
}

.muro_h1-photogallery {
  max-width: 190px;
  height: 36px;
}

.hero-images {
  width: 100%;
  height: auto;
  max-width: 880px;
  margin-bottom: 40px;
}
.hero-images img {
  width: 100%;
  height: auto;
}

.profile-wrapper {
  box-sizing: border-box;
}

.profile-image {
  display: block;
  width: 280px;
  height: 307px;
  float: left;
  margin-right: 20px;
}
.profile-image img {
  width: 100%;
  height: auto;
}

.prof-text {
  display: block;
  box-sizing: border-box;
  width: 490px;
  height: auto;
  overflow: hidden;
}
.prof-text p {
  font-size: 0.96rem;
  line-height: 1.6;
}
.prof-text .muro-name {
  font-size: 1.5rem;
}
.prof-text .prof-text-pc {
  display: block;
}
.prof-text .prof-text-sp {
  display: none;
}
.prof-text .profile-list {
  margin: 30px auto 0;
}
.prof-text .profile-list p {
  font-size: 0.8rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.7);
}

.btn-top {
  display: block;
  width: 241px;
  height: 35px;
  margin: 40px auto 0;
}

.btn-top_sp {
  display: none;
  max-width: 450px;
  width: 100%;
  max-height: 64px;
  height: auto;
  margin: 30px auto 0;
}
.btn-top_sp img {
  width: 100%;
  height: auto;
}

.btn-profile {
  display: block;
  width: 241px;
  height: 35px;
  margin: 40px auto 0;
}

.btn-profile_sp {
  display: none;
  max-width: 450px;
  width: 100%;
  max-height: 64px;
  height: auto;
  margin: 30px auto 0;
}
.btn-profile_sp img {
  width: 100%;
  height: auto;
}

.btn-more {
  display: block;
  width: 241px;
  height: 35px;
  margin: 40px auto 0;
  padding: 0;
}
.btn-more + .btn-more {
  margin-top: 20px;
}

.btn-loadmore {
  display: block;
  width: 244px;
  height: 50px;
  margin: 40px auto 0;
  padding: 0;
}
.btn-loadmore img {
  width: 100%;
}

.btn-more_sp {
  display: none;
  max-width: 448px;
  width: 100%;
  max-height: 64px;
  height: auto;
  margin: 30px auto 0;
}
.btn-more_sp img {
  width: 100%;
  height: auto;
}
.btn-more_sp + .btn-more_sp {
  margin-top: 20px;
}

.btn-loadmore_sp {
  display: none;
  max-width: 244px;
  width: 100%;
  max-height: 50px;
  height: auto;
  margin: 30px auto 0;
}
.btn-loadmore_sp img {
  width: 100%;
  height: auto;
}

.yoshi-link {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.yoshi-link .link-item {
  width: 49.5%;
}
.yoshi-link a {
  box-sizing: border-box;
  display: block;
  background: #3E3E3E;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.yoshi-link a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: white;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.yoshi-link a:visited {
  color: white;
}
.yoshi-link a p.small {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

p.small {
  font-size: 14px;
  color: white;
}
p.small a {
  color: white;
}
p.small a:hover {
  color: white;
  text-decoration: underline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
p.small a:visited {
  color: white;
}

.btn-races {
  display: block;
  width: 241px;
  height: 35px;
  margin: 0 auto;
}

.btn-races_sp {
  display: none;
  max-width: 450px;
  width: 100%;
  max-height: 64px;
  height: auto;
  margin: 0 auto;
}
.btn-races_sp img {
  width: 100%;
  height: auto;
}

.muro-movie {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.prof-images {
  margin-bottom: 30px;
  text-align: right;
}
.prof-images ul li {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 280px !important;
  height: auto;
  margin-right: 20px !important;
}
.prof-images ul li:last-child {
  margin-right: 0 !important;
}
.prof-images ul li img {
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
}
.prof-images ul li small {
  color: rgba(255, 255, 255, 0.7);
}

.race-images {
  margin-bottom: 30px;
}
.race-images ul li {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 205px !important;
  height: auto;
  margin-right: 20px !important;
  text-align: right;
}
.race-images ul li:last-child {
  margin-right: 0 !important;
}
.race-images ul li img {
  width: 100%;
  height: auto;
}
.race-images ul li small {
  color: rgba(255, 255, 255, 0.7);
}

.muro-about .container {
  max-width: 880px;
  width: 100%;
}
.muro-about p {
  font-size: 1rem;
}

.share-video img {
  width: 100%;
  height: auto;
}

.share-video-sp {
  display: none;
}
.share-video-sp img {
  width: 100%;
  height: auto;
}

#sp-nav {
  display: none;
  z-index: 920;
}

.dummy {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 89999;
}

.race-result {
  margin-top: 80px;
}

table.result {
  width: 100%;
  height: auto;
  background: #262626;
  margin-bottom: 60px;
}
table.result td, table.result th {
  border: 3px solid black;
  padding: 5px 10px;
  font-size: 0.9rem;
}
table.result td.r-rank, table.result th.r-rank {
  width: 15%;
  text-align: center;
}
table.result td.r-name, table.result th.r-name {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
table.result td.r-nation, table.result th.r-nation {
  width: 20%;
  text-align: center;
}
table.result td.r-point {
  width: 15%;
  text-align: center;
}
table.result th {
  text-align: left;
  font-weight: normal;
}
table.result th.r-point {
  width: 15%;
  text-align: center;
}
table.result tr:nth-child(even) td {
  background: #fff;
  color: #232323;
}
table.result tr:nth-child(odd) td {
  background: #f0f0f0;
  color: #232323;
}
table.result tr.highlight td {
  background: #d8f1d3;
}

.bnr_events_sp, .bnr_races_sp, h1.img-sp {
  display: none;
}

.sns {
  box-sizing: border-box;
  padding: 0;
  margin: 45px auto 30px;
}

.js .hero-visual {
  visibility: visible;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.author .prof-image {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.author p {
  padding: 0 !important;
  font-weight: normal;
  color: gray;
}

.title_movie {
  font-size: 30px;
}
.title_movie span {
  display: inline-block;
  white-space: nowrap;
}

.sub_movie {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

#movie-360 {
  margin-top: -100px;
  padding-top: 100px;
}

@media screen and (max-width: 800px) {
  .section {
    margin: 35px 0 70px;
    padding: 0;
  }

  .sm-movie {
    box-sizing: border-box;
  }

  .sm-movie .copy{
    color: #ccc;
    position: static;
    font-size: 9px;
  }
  .sm-movie img {
    width: 100%;
    height: auto;
    background: #000;
  }
  .sm-movie img:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .sm-movie a {
    width: 100%;
    height: auto;
  }

  body.top .hero-movie {
    box-sizing: border-box;
    height: 236px !important;
  }

  .pc-only {
    display: block;
  }

  .sp-only {
    display: none;
  }

  .bxslider-wrapper {
    margin: 0 !important;
  }

  .bread-crumb {
    display: none;
  }

  .muro-races-index {
    padding-top: 40px;
  }

  .race-contents > h1, .events-contents > h1 {
    font-size: 20px;
    line-height: 1.6;
  }

  .race-contents > h2 {
    font-size: 20px;
  }

  span.sub-title {
    font-size: 16px;
  }

  .muro_h1-top {
    padding-top: 0;
    padding-bottom: 20px;
    max-width: 380px;
    width: 100%;
    max-height: 41px;
    height: auto;
  }

  .muro-main {
    padding-top: 40px;
  }

  .muro-main-b {
    margin-top: -30px !important;
    padding-top: 40px;
  }

  .muro-races-second, .muro-events-second {
    padding-top: 30px;
    margin-bottom: 70px;
  }

  .events-contents .muro-movie {
    margin-top: -100px;
    margin-bottom: -20px;
  }

  .muro-races {
    margin-top: -40px;
    padding-top: 90px;
  }

  .muro-movie {
    margin-top: 10px;
    padding-top: 100px;
  }

  .muro-events, .muro-profile, .muro-about {
    margin-top: -70px;
    padding-top: 100px;
  }

  #sp-nav {
    display: block;
    background: black;
    width: 100%;
    height: 40px;
    position: fixed;
  }

  /* Toggle(Button) */
  #navToggle {
    position: absolute;
    /*to body*/
    left: 10px;
    top: 10px;
    width: 20px;
    height: 25px;
    cursor: pointer;
  }
  #navToggle div {
    position: relative;
  }
  #navToggle span {
    display: block;
    position: absolute;
    /*to div*/
    width: 100%;
    border-bottom: solid 3px white;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  #navToggle span:nth-child(1) {
    top: 0;
  }
  #navToggle span:nth-child(2) {
    top: 8px;
  }
  #navToggle span:nth-child(3) {
    top: 16px;
  }

  #sp-nav nav {
    position: absolute;
    left: -500px;
    top: 40px;
    background: #060606;
    width: 64%;
    padding: 0 10px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left;
  }
  #sp-nav ul {
    margin: 0;
  }
  #sp-nav ul li {
    display: block;
    margin: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    line-height: 3;
    padding-left: 2px;
  }
  #sp-nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
  }
  #sp-nav ul li::after {
    content: '';
  }
  #sp-nav ul li:last-child {
    border-bottom: none;
  }

  #navToggle {
    display: block;
  }

  .openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .openNav nav {
    -moz-transform: translateX(460px);
    -webkit-transform: translateX(460px);
    transform: translateX(460px);
  }

  #muro-nav {
    display: none;
  }

  .muro_h1-top-pic {
    margin-top: 40px;
  }

  .muro_h1-top-pic-b {
    margin-top: 20px;
  }

  .profile-image {
    display: block;
    max-width: 280px;
    width: 100%;
    height: auto;
    float: none;
    margin: 0 auto 30px !important;
  }
  .profile-image img {
    width: 100%;
    height: auto;
  }

  .prof-text {
    display: block;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  .prof-text p {
    font-size: 0.96rem;
    line-height: 1.6;
  }
  .prof-text .muro-name {
    font-size: 1.5rem;
  }
  .prof-text .prof-text-pc {
    display: none;
  }
  .prof-text .prof-text-sp {
    display: block;
  }
  .prof-text .profile-list {
    margin: 30px auto 0;
  }
  .prof-text .profile-list p {
    font-size: 0.8rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
  }

  .main_container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .btn-top, .btn-more, .btn-profile, .btn-races {
    display: none;
  }

  .prof-images, .race-images {
    margin-bottom: 10px;
    text-align: right !important;
  }

  .prof-images p, .race-images p {
    font-size: 0.8rem;
  }

  .prof-images ul, .race-images ul {
    padding: 0;
  }

  .prof-images ul li, .race-images ul li {
    box-sizing: border-box;
    display: block;
    float: none;
    width: 100% !important;
    height: auto;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }

  .prof-images ul li img, .race-images ul li img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .muro_h1-win {
    display: none;
  }

  .muro_h1-win_sp {
    display: block !important;
    margin: 0 auto 10px;
  }

  .goyoshi_h1 h1, .goyoshi_h1 h2, .goyoshi_h2 h1, .goyoshi_h2 h2 {
    font-size: 32px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .flex-wrapper {
    display: block;
  }

  .flex-items {
    display: block;
    width: 100%;
  }

  .sm-movie {
    margin-bottom: 30px;
  }

  .muro-movie {
    margin-bottom: 60px;
  }

  .hero-responsive-sp {
    display: block;
  }

  .insta ul {
    flex-wrap: wrap;
  }
  .insta ul li {
    overflow: hidden;
    word-break: break-all;
    box-sizing: border-box;
    letter-spacing: 0;
    text-align: center;
    padding: 10px;
    margin: 1%;
    width: 48%;
    background: #2A2A2A;
  }
  .insta ul li:nth-child(3n) {
    margin: 1%;
  }
  .insta ul li p {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
  }
  .insta ul li .description {
    display: block;
    text-align: left;
    font-size: 12px;
  }

  .btn-loadmore {
    display: none;
  }

  .btn-loadmore_sp {
    display: block;
  }

  .link-privacy a {
    display: block;
    font-size: 16px;
  }
  .link-privacy a:first-child {
    margin-bottom: 20px;
  }

  .yoshi-tweet {
    font-size: 18px;
    margin: 80px 0 20px;
  }
  .yoshi-tweet span {
    font-size: 16px;
  }

  #guideline h2 {
    max-width: 767px;
    min-width: 200px;
  }
}
@media screen and (max-width: 640px) {
  .muro_h1-top {
    max-width: 60%;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .muro_h1, .muro_h1-top, .muro_h1-events, .muro_h1-movie, .muro_h1-profile, .muro_h1-win, .muro_h1-win_sp, .muro_h1-races, .muro_h1-race, .muro_h1-photogallery {
    margin: 0 auto 20px;
  }

  .muro_h1-top-pic {
    margin-bottom: -20px !important;
  }
  .muro_h1-top-pic .h1-muro-top {
    display: block;
    position: absolute;
    height: auto;
    max-width: 56%;
    width: auto;
    top: 10%;
    left: 5%;
  }
  .muro_h1-top-pic .h1-muro-top img {
    width: 100%;
    height: auto;
  }

  .pc-text {
    display: none;
  }

  .profile-image {
    max-width: 200px;
  }

  .prof-text-pc {
    display: none;
  }

  .sp-text {
    display: block !important;
  }

  #muro-hero {
    margin-bottom: 60px;
  }

  #section03, .muro-win {
    margin-bottom: 40px;
  }

  .share-video {
    display: none;
  }

  .share-video-sp {
    display: none;
    display: block;
  }

  .result-wrap {
    overflow: auto;
  }

  table.result td, table.result th {
    white-space: nowrap;
  }
  table.result td.r-name, table.result th.r-name {
    width: 45%;
  }
  table.result td.r-nation, table.result th.r-nation {
    width: 25%;
  }

  .bnr_events, .bnr_races {
    display: none;
  }

  .bnr_events_sp, .bnr_races_sp {
    display: block;
  }

  h1.img-pc {
    display: none;
  }
  h1.img-sp {
    display: block;
    margin-bottom: -20px;
  }

  .muro-profile {
    margin-top: -40px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 560px) {
  .muro_h1-top {
    max-width: 320px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .events-contents h1.events-title {
    font-size: 1.4rem;
  }
  .events-contents table.date-title td.e-date p {
    font-size: 0.9rem;
  }

  .yoshi-link {
    display: block;
    margin-bottom: 0px;
  }
  .yoshi-link .link-item {
    width: 100%;
  }
  .yoshi-link a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: #3E3E3E;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .yoshi-link a:last-child {
    margin-bottom: 0;
  }
  .yoshi-link a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    color: white;
  }
}
@media screen and (max-width: 460px) {
  .muro_h1-top {
    max-width: 90%;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .events-wrapper .events-box .e-box-img {
    float: left;
    width: 80px;
    height: 90px;
    margin: 0 10px 0 0;
    background: white;
    overflow: hidden;
  }
  .events-wrapper .events-box .e-box-img img {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .events-wrapper .events-box p {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .events-wrapper .events-box p.event-title {
    font-size: 0.7rem;
    padding-top: 0;
  }
  .events-wrapper .events-box p.event-date {
    font-size: 0.7rem;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .link-privacy a {
    display: block;
    font-size: 14px;
  }

  .title_movie {
    font-size: 18px;
  }

  p.small {
    font-size: 13px;
    color: white;
  }
}
@media screen and (max-width: 374px) {
  .goyoshi_h1 h1, .goyoshi_h1 h2, .goyshi_h2 h1, .goyshi_h2 h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 800px) {
  .btn-top_sp, .btn-more_sp, .btn-profile_sp, .btn-races_sp {
    display: block;
  }
}
/* banner */

/* -----------------------------------------------------------------
  recommendBanners
  ----------------------------------------------------------------- */
  #recommendBanners {
  margin: 120px 0;
  font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Verdana', 'MS P Gothic', 'ＭＳ Ｐゴシック', sans-serif;
  @media screen and (max-width: 767px){
    margin: 60px 0;
  }
}

.race-slider{
  @media screen and (max-width: 767px){
    margin: 60px 0;
  }
}

#recommendBanners .sw-container{
  width: 100%;
}
#recommendBanners h2 {
  background-color: transparent;
}
#recommendBanners h3 {
  border: none !important;
  font-size: 14px;
  text-align: left !important;
}
#recommendBanners .sw-section_head p.sw-section_lead {
  text-align: center;
}

.sns ul{
  padding-left: 0;
  width: 106px;
}

.sns ul .g {
  display: none;
}

.brand-breadcrumbs{
  overflow: hidden;
}


/*
 2018.08.30 - 
*/

.button-top{
  display: block;
  width: 241px;
  height: 35px;
  margin: 40px auto 0;

  @media screen and (max-width: 768px) {
    max-width: 450px;
    width: 100%;
    max-height: 64px;
    height: auto;
    margin: 30px auto 0;
  }
}

.button-top img{
  width: 100%;
  height: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.banner_races{
  width: 100%;
  height: auto;
}
.banner_races img{
  width: 100%;
  height: auto;
}
.race-archive .banner_races{
  box-sizing: border-box;
  width: 49%;
}

.muro-races-second .banner_races{
  margin-bottom: 20px;
}
.muro-races-index .banner_races{
  margin-bottom: 20px;
}

.banner_events{
  width: 100%;
  height: auto;
}
.banner_events img{
  width: 100%;
  height: auto;
}
.race-archive .banner_events{
  box-sizing: border-box;
  width: 49%;
}

.muro-races-second .banner_events{
  margin-bottom: 20px;
}
.muro-races-index .banner_events{
  margin-bottom: 20px;
}


.button-archives{
  display: block;
  height: 35px;
  margin: 40px auto 0;
  text-align: center; 
  margin-bottom: 30px;
}

.button-archives .flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-archives .flex-items{
  width: auto;
}

.button-archives .flex-items+.flex-items{
  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}


@media screen and (max-width: 768px) {

  
  .button-archives{
    height: auto;
    width: 100%;
    height: auto;
    margin: 30px auto 30px;
  }
  
  .button-archives .flex-wrapper {
    display: block;
  }

  
  .button-archives .flex-items{
    width: 100%;
  }

  
  .button-archives .flex-items img{
    width: 100%;
    height: auto;
  }


  .button-archives .flex-items+.flex-items{
    margin-top: 10px;
  }



}