@charset "UTF-8";


/* ==========================================================================
   Select2
   ========================================================================== */

.select2-container {
	position: relative;
	display: inline-block;
	/* inline-block for ie7 */
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
	/*
	Force border-box so that % widths fit the parent
	container without overlap because of margin/padding.

	More Info : http://www.quirksmode.org/css/box.html
	*/
	-webkit-box-sizing: border-box; /* webkit */
	 -khtml-box-sizing: border-box; /* konqueror */
	   -moz-box-sizing: border-box; /* firefox */
		-ms-box-sizing: border-box; /* ie */
			box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
	display: block;
	position: relative;
	padding: 0 30px 0 15px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;
	
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
	
	background-color: #fff;
}

.select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #aaa;
}

.select2-container .select2-choice span {
	display: block !important;
	float: none !important;
	min-width: 3.0em;
	margin-right: 15px !important;
	overflow: hidden;
	
	white-space: nowrap;
	
	-ms-text-overflow: ellipsis;
	 -o-text-overflow: ellipsis;
		text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 26px;
	top: 8px;

	font-size: 1px;
	text-decoration: none;

	border: 0;
	background: url('../images/select2/select2.png') right top no-repeat;
	cursor: pointer;
	outline: 0;
}
.select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer;
}

.select2-drop-mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 98;
	background-color: #fff;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* works in IE 8 */
		filter: "alpha(opacity=0)"; /* expected to work in IE 8 */
		filter: alpha(opacity=0); /* IE 4-7 */
}

.select2-drop {
	width: 100%;
	margin-top: 1px;
	position: absolute;
	z-index: 99;
	top: 100%;
	
	background: #fff;
	border: 1px solid #f5f5f5;
	
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	   -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
			box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #aaa;
	border-bottom: 0;
	
	-webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
	   -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
			box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
	display: block;
	width: 22px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff url("/common/v2/images/bg/bg_select_01.gif") no-repeat right top;
}
.select2-container .select2-choice:hover div,
.select2-container .select2-choice div:hover {
	background-position: right -32px;
}

.select2-container .select2-choice div b {
	/*
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/select2/select2.png') no-repeat 0 1px;
	*/
}

.select2-search {
	display: inline-block;
	width: 100%;
	min-height: 26px;
	margin: 0;
	padding: 0;
	
	position: relative;
	z-index: 100;
	
	white-space: nowrap;
	/* all */
	position: absolute;
	left: -10000px;
}

.select2-search-hidden {
	display: block;
	position: absolute;
	left: -10000px;
}

.select2-search input {
	width: 100%;
	height: auto !important;
	min-height: 22px;
	padding: 4px 37px 4px 15px;
	margin: 0;
	
	outline: 0;
	font-family: sans-serif;
	font-size: 1em;
	
	border: 1px solid #aaa;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;

	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;

	background: #fff url('../images/select2/select2.png') no-repeat 100% -22px;
	background: url('../images/select2/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
	background: url('../images/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	background: url('../images/select2/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
	margin-top: 4px;
}

.select2-search input.select2-active {
	/*
	background: #fff url('../images/select2/select2-spinner.gif') no-repeat 100%;
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	background: url('../images/select2/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	*/
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	/*border: 1px solid #5897fb;*/
	outline: none;
}

.select2-dropdown-open .select2-choice {
	border-bottom-color: transparent;
}

.select2-dropdown-open .select2-choice div {
	/*background: transparent;
	border-left: none;
	filter: none;*/
}
.select2-dropdown-open .select2-choice div b {
	background-position: -18px 1px;
}

/* results */
.select2-results {
	max-height: 200px;
	padding: 0;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select2-results ul.select2-result-sub {
	margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
	display: list-item;
	list-style: none;
	margin: 0;
	background-image: none;
	line-height: 1.0;
}

.select2-results li.select2-result-with-children > .select2-result-label {
	font-weight: bold;
}

.select2-results .select2-result-label {
	padding: 6px 15px 6px 15px;
	margin: 0;
	cursor: pointer;

	min-height: 1em;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
}

.select2-results .select2-highlighted {
	background: #f2f2f2;
}

.select2-results li em {
	background: #feffde;
	font-style: normal;
}

.select2-results .select2-highlighted em {
	background: transparent;
}

.select2-results .select2-highlighted ul {
	background: white;
	color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
	background: #f4f4f4;
	display: list-item;
}

/*
	disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
	display: none;
}

.select2-more-results.select2-active {
	background: #f4f4f4 url('../images/select2/select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
	display: none
}

/* multiselect */
.select2-container-multi .select2-choices {
	height: auto !important;
	height: 1%;
	margin: 0;
	padding: 0;
	position: relative;

	border: 1px solid #aaa;
	cursor: text;
	overflow: hidden;

	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
	min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #5897fb;
	outline: none;

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
			box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.select2-container-multi .select2-choices li {
	float: left;
	list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
	padding: 5px;
	margin: 1px 0;

	font-family: sans-serif;
	font-size: 100%;
	color: #666;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
	background: #fff url('../images/select2/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
	color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 18px;
	margin: 3px 0 3px 5px;
	position: relative;

	line-height: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #aaaaaa;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
			box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);

	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;

	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice span {
	cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4;
}

.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 4px;

	font-size: 1px;
	outline: none;
	background: url('../images/select2/select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
	left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
	text-decoration: underline;
}

.select2-offscreen {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)	{
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
	  background-image: url('../images/select2/select2x2.png') !important;
	  background-repeat: no-repeat !important;
	  background-size: 60px 40px !important;
  }
  .select2-search input {
	  background-position: 100% -21px !important;
  }
}

/* ==========================================================================
   ColorBox
   ========================================================================== */

/**
 * ColorBox Core Style:
 * The following CSS is consistent between example themes and should not be altered.
 */

#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxLoadedContent { overflow: auto; -webkit-overflow-scrolling: touch; cursor: default; }
#cboxTitle { margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

.cboxPhoto {
	display: block;
	float: left;
	max-width: none;
	margin: auto;
	border: 0;
}

.cboxIframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/**
 * User Style:
 * Change the following styles to modify the appearance of ColorBox.  They are
 * ordered & tabbed in a way that represents the nesting of the generated HTML.
 */

#cboxOverlay { background: #000; }
#colorbox { outline: 0; }

#cboxContent{
	margin: 40px 40px;
	background-color: #000;
	overflow: visible;
}

.cboxIframe {
	background-color: #000;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	background-color: #000;
}

#cboxLoadingGraphic {
	background: url("/common/v2/images/icon/ico_loading.gif") no-repeat center center;
}

#cboxLoadingOverlay {
	background: #000;
}

#cboxTitle {
	position: absolute;
	bottom: -22px;
	right: 0;
	font-size: 10px;
	color: #fff;
}
#cboxTitle.galleryTitle {
	position: absolute;
	bottom: 40px;
	left: 0;
	padding: 5px 20px 4px 20px;
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 12px;
}
/* IE6/7 fallback */
html.lt-ie8 #cboxTitle.galleryTitle {
	bottom: -4px;
	background-color: #000;
}

#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxClose {
	display: block;
	position: absolute;
	top: -30px;
	right: 0;
	width: 43px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url("/common/v2/images/button/btn_close.png") no-repeat 0 10px;
	text-indent: -9999px;
	overflow: visible;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxClose:hover { background-position: 0 -10px;}
#cboxClose:active { outline: 0; }


/* ==========================================================================
   PowerTip
   ========================================================================== */

/**
 * PowerTip Core Style:
 * The following CSS is consistent between example themes and should not be altered.
 */

#powerTip {
	display: none;
	position: absolute;
	z-index: 2147483647;
	padding: 6px 24px;
	max-width: 300px;
	background-color: #333;
	-webkit-box-shadow: 0 0 3px 1px #666;
	-moz-box-shadow: 0 0 3px 1px #666;
	-o-box-shadow: 0 0 3px 1px #666;
	-ms-box-shadow: 0 0 3px 1px #666;
	box-shadow: 0 0 3px 1px #666;
	color: #fff;
	font-size: 11px;
	line-height: 1.834;
	word-break: break-all;
	word-wrap: break-word;
	cursor: default;
	zoom: 1;
}
#powerTip a,
#powerTip a:hover {
	color: #fff;
	text-decoration: none;
}
#powerTip.n:before, #powerTip.e:before, #powerTip.s:before, #powerTip.w:before,
#powerTip.ne:before, #powerTip.nw:before, #powerTip.se:before, #powerTip.sw:before {
	content: "";
	position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
	left: 50%;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
#powerTip.e:before, #powerTip.w:before {
	top: 50%;
	margin-top: -5px;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}
#powerTip.n:before {
	bottom: -10px;
	border-top: 10px solid #333;
}
#powerTip.e:before {
	left: -10px;
	border-right: 10px solid #333;
}
#powerTip.s:before {
	top: -10px;
	border-bottom: 10px solid #333;
}
#powerTip.w:before {
	right: -10px;
	border-left: 10px solid #333;
}
#powerTip.ne:before,
#powerTip.se:before {
	left: 10px;
	border-right: 10px solid transparent;
	border-left: 0;
}
#powerTip.nw:before,
#powerTip.sw:before {
	right: 10px;
	border-left: 10px solid transparent;
	border-right: 0;
}
#powerTip.ne:before,
#powerTip.nw:before {
	bottom: -10px;
	border-top: 10px solid #333;
}
#powerTip.se:before,
#powerTip.sw:before {
	top: -10px;
	border-bottom: 10px solid #333;
}

/**
 * PowerTip - White Version
 */

#powerTip.white {
	max-width: auto;
	padding: 10px;
	background-color: #fff; /* fallback for browsers that dont support rgba */
	color: #333;
}
#powerTip.white.n:before {
	border-top-color: #fff;
}
#powerTip.white.e:before {
	border-right-color: #fff;
}
#powerTip.white.s:before {
	border-bottom-color: #fff;
}
#powerTip.white.w:before {
	border-left-color: #fff;
}
#powerTip.white.ne:before,
#powerTip.white.nw:before {
	border-top-color: #fff;
}
#powerTip.white.se:before,
#powerTip.white.sw:before {
	border-bottom-color: #fff;
}


/**
 * Carousel
 */
.carousel {
    position: relative;
	margin: 25px auto 50px auto;
	max-width: 1280px;
	min-width: 1000px;
	background-color: #f2f2f2;
	text-align: center;
	overflow: hidden;
}
.carousel.w-980 {
	max-width: 980px;
	min-width: 980px;
}

.carousel-overlay{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.carousel-overlay-left{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: transparent;
}

.carousel-overlay-right{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: transparent;
}

html.lt-ie9 .carousel-overlay-left,
html.lt-ie9 .carousel-overlay-right{
    background-color:white;
    filter:alpha(opacity=1);
}
.carousel-overlay-left:not(:target),
.carousel-overlay-right:not(:target){
    background-color:white\9;
    opacity:0\9;
}

.carousel ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
.carousel ul.view {
	position: relative;
	top: 0;
	left: 0;
	width: 1280px;
	height: 500px;
	overflow: hidden;
	*zoom: 1;
}
.carousel.w-980 ul.view {
	width: 980px;
	height: 445px;
}
.carousel.h-460 ul.view {
	height: 460px;
}

.carousel ul.view li {
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center top;
}

.carousel .ui {
	position: relative;
	bottom: 0;
	left: 0;
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

.carousel .ui::-moz-selection {
	background: #333;
}
.carousel .ui::selection {
	background: #333;
}

#main .carousel .ui::-moz-selection {
	background: #f2f2f2;
}
#main .ui::selection {
	background: #f2f2f2;
}

.carousel .ui .prev {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 70px;
	height: 40px;
	background: transparent url("/common/v2/images/icon/ico_carousel_prev.gif") no-repeat 0 0;
	cursor: pointer;
}
.carousel .ui .next {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	width: 70px;
	height: 40px;
	background: transparent url("/common/v2/images/icon/ico_carousel_next.gif") no-repeat 0 0;
	cursor: pointer;
}

.carousel .ui .prev:hover,
.carousel .ui .prev.hover,
.carousel .ui .next:hover,
.carousel .ui .next.hover {
	opacity: 0.50;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	-ms-filter: "alpha(opacity=50)";
}

.carousel .ui .locator {
	position: relative;
	z-index: 1;
	width: 14px;
	margin: 0 auto;
	overflow: hidden;
}

.carousel .ui .locator li {
	float: left;
	width: 14px;
	height: 40px;
	background: transparent url("/common/v2/images/icon/ico_carousel_locator.png") no-repeat -14px -2px;
	cursor: pointer;
}

.carousel .ui .locator li:hover,
.carousel .ui .locator li.current {
	background-position: 0  -2px;
}

.carousel .carousel-overlay-left,
.carousel .carousel-overlay-right {
	cursor: pointer;
}

/* #colorbox .carousel */
#colorbox .carousel {
    margin: 0;
    max-width: none;
    min-width: 0;
}

#colorbox .carousel ul.view {
    height: 720px;
}

#colorbox .carousel div.ui {
	background-color: #000;
}

#colorbox .carousel .ui .prev {
	background: transparent url("/common/v2/images/icon/ico_viewer_prev.png") no-repeat 0 0;
}
#colorbox .carousel .ui .next {
	background: transparent url("/common/v2/images/icon/ico_viewer_next.png") no-repeat 0 0;
}
#colorbox .carousel .ui .locator li {
	background: transparent url("/common/v2/images/icon/ico_viewer_locator.png") no-repeat -14px 0;
}
#colorbox .carousel .ui .locator li:hover,
#colorbox .carousel .ui .locator li.current {
	background-position: 0 0;
}

/* ==========================================================================
   Roll Clip
   ========================================================================== */

a.roll-clip-hover {
	color: #999 !important;
	text-decoration: underline;
}
