@charset "UTF-8";

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		box-shadow: none !important;
		text-shadow: none !important;
	}

	body {
		background-color: transparent !important;
	}

	table tr,
	img,
	.hero-visual,
	.flush-visual,
	.carousel {
		page-break-inside: avoid;
	}

	/*img {
		max-width: 100% !important;
	}*/

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	/* global.css */
	#header {
		position: static !important;
	}

	#local-nav {
		position: static !important;
	}

	#local-nav .local-nav-inner {
		position: static !important;
	}

	#local-nav .local-nav-inner .secondary {
		position: static !important;
	}

	section#main,
	section#main.ln-has-primary.has-hero {
		padding-top: 20px !important;
	}
	section#main.ln-has-primary.no-h1 {
		padding-top: 40px !important;
	}
	section#main.ln-has-primary.no-h1 p.time {
		margin-top: 0 !important;
	}

	section#main.ln-has-primary {
		padding-top: 0 !important;
	}

	section.hero-visual .hero-visual-inner figure,
	section.hero-visual .hero-visual-inner .container {
		margin: 0 -140px 0 -140px !important;
	}

	html.lt-ie9 section.hero-visual .hero-visual-inner,
	html.no-websockets section.hero-visual .hero-visual-inner {
		max-width: 1280px;
		min-width: 1280px;
		overflow: hidden;
	}

	#footer {
		position: static !important;
		height: auto !important;
	}

	#footer .footer-body {
		position: static !important;
		opacity: 1 !important;
	}
}
