
@media screen and (max-width: 767px) {
  #colorbox {
    width: 100% !important;
  }
  #cboxWrapper {
    width: 100% !important;
  }
  #cboxContent {
    width: 100% !important;
    margin: 0;
  }
  #cboxLoadedContent {
    width: 100% !important;
  }
}