@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
  }
}

@mixin bounce($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(bounce);
  @include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}
