@include keyframes(flash) {
  0%{opacity:0;}
	1%, 50%, 100% {opacity: 1;}
	25%, 75% {opacity: 0;}
}

@mixin flash($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(flash);
  @include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}
