@include keyframes(rubberBand) {
	0% {
    transform: scale(1.1, 1.1);
  }

  20% {
    transform: scale(0.95, 0.95);
  }
  40% {
    transform: scale(1.1, 1.1);
  }

  75% {
    transform: scale(1.0, 1.0);
  }

  100% {
    transform: scale(1.05, 1.05);
  }

}

@mixin rubberBand($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(rubberBand);
  @include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}
