@charset "UTF-8";

/* ==========================================================================
   section.hero-visual
   ========================================================================== */

#main {
	padding-top: 71px !important;
}

body, .main_container, h2{
	background: #fff;
}

p {
	font-size: initial;
}

h2 {
	font-size: 24px;
	max-width: 100%;
	min-width: 100%;
}

.main_container h3 {
    margin: 50px 0 40px 0;
    padding: 11px 0 5px 0;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.muro-main {
	text-align: center;
}

.meeting .container {
	word-break: break-all;
	width: 100%;
}

.meeting .container > p {
	/*font-size: 1rem;*/
	word-break: break-all;
}

.disclaimer a {
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 12px;
		font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro" , "メイリオ", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
		line-height: 1.834;
	}
	.container p {
		font-size: 12px;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		margin: 0 0 10px 0;
    padding: 11px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
	}
}
@media screen and (min-width: 801px) {
	.container p {
		font-size: 12px;
	}
	h2 {
		font-size: 24px;
	}
	.main_container section {
		margin-top: 80px;
	}
}

@media screen and (max-width: 800px) {
	.meeting .grid-12.column-2 .grid-4,
	.meeting .grid-12.column-2 .grid-6,
	.meeting .grid-12.column-2 .grid-8 {
		width: 100%;
		margin-bottom: 0;
	}
	.meeting .grid-12.column-2 .grid-4 figure,
	.meeting .grid-12.column-2 .grid-6 figure,
	.meeting .grid-12.column-2 .grid-8 figure {
		margin-bottom: 20px;
	}
	.muro-main {
		text-align: left;
	}
	.muro-main h2 {
		margin: 20px 0;
	}
	.muro-main p br {
		display: none;
	}
	.main_container > section {
		margin-bottom: 30px;
	}
	.main_container > section h3 {
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 801px) {
	.muro-main h2 {
		margin: 0;
		padding-top: 20px;
	}
	.muro-main h2 br,
	.main_container > section h3 br {
		display: none;
	}
	.meeting .grid-12.column-2 .grid-4 {
		width: 280px;
	}
	.meeting .grid-12.column-2 .grid-6 {
		width: 425px;
	}
	.meeting .grid-12.column-2 .grid-8 {
		width: 568px;
	}
}

.meeting .grid-12.column-2 .grid-4 img,
.meeting .grid-12.column-2 .grid-6 img {
	width: 100%;
}


/* ==========================================================================
   section.detail
   ========================================================================== */

/* .table-01 */
section.detail .table-01 tbody tr > th,
section.detail .table-01 tbody tr > td {
	/*font-size: 1rem;*/
	font-size: 13px;
}

section.detail .table-01 tbody tr th {
	width: 16.0%;
	padding: 1.2em 0 1.05em 0;
	border-top: none;
	border-right: none;
	border-bottom: 1px #fff solid;
	background-color: #eee;
	font-weight: bold;
	line-height: 1.834;
	text-align: center;
}

section.detail .table-01 tbody tr td {
	border-top: none;
	border-right: none;
	border-bottom: 1px #eee solid;
	background-color: transparent;
	line-height: 1.834;
	text-align: left;
}

section.detail .table-01 tbody tr.last-child th,
section.detail .table-01 tbody tr.last-child td {
	border-bottom: none;
}

section.detail span.notice {
	font-size: 0.8rem;
}

section.detail .table-01 tbody tr td ul {
	padding: 0 0 0 15px;
}

section.detail .table-01 tbody tr td dl {
	margin: 0.25em 0 0 0;
}

section.detail .table-01 tbody tr td dl dt {
	width: 1.5em;
	margin: 0 0 0.25em 0;
}

section.detail .table-01 tbody tr td dl dd {
	margin: -2.03em 0 0.25em 1.5em;
}

section.detail .table-01 tbody tr td dl.overview dd {
	margin: 0 0 2px 15px;
}

@media screen and (max-width: 800px) {
	section.detail .table-01 {
		border-top: 1px solid #b3b3b3;
		border-bottom: 1px solid #b3b3b3;
	}
	section.detail .table-01 tbody tr th,
	section.detail .table-01 tbody tr td {
		border-bottom: 1px solid #e5e5e5;
	}
	section.detail .table-01 tbody tr th,
	section.detail .table-01 tbody tr td,
	section.detail .table-01 tbody tr td strong {
		font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro" , "メイリオ", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	}
	section.detail .table-01 tbody tr th {
		background-color: #f4f2f2;
		width: 25.0%;
		font-size: 12px;
	}
	section.detail .table-01 tbody tr td {
		background-color: #f4f2f2;
		padding: 0.65em 0 0.65em 1em;
		font-size: 12px;
	}
	section.detail .table-01 .even th,
	section.detail .table-01 .even td {
    background-color: #f8f8f8;
	}
	section.detail .table-01 .last-child th,
	section.detail .table-01 .last-child td {
    background-color: #f8f8f8;
	}
}

@media screen and (min-width: 801px) {
	section.detail .table-01 tbody tr th {
		width: 16.0%;
	}
	section.detail .table-01 tbody tr td {
		padding: 1.2em 1.6em 1.05em;
	}
}

/* ==========================================================================
   section.rules
   ========================================================================== */

/* .rules-wrapper */

@media screen and (max-width: 800px) {
	section.rules div.rules-wrapper {
		padding: 10px;
	}
	section.rules div.rules-wrapper dl {
		margin: 0;
	}
	section.rules div.rules-wrapper dl dt {
		text-align: left;
	}
	section.rules div.rules-wrapper dl dd {
		padding: 0 0 0 3.2em;
	}
}
@media screen and (min-width: 801px) {
	section.rules div.rules-wrapper {
		height: 250px;
		padding: 20px;
		border: 1px solid #b2b2b2;
		overflow-y: scroll;
	}
	section.rules div.rules-wrapper dl {
		margin: 0 0 18px 0;
	}
	section.rules div.rules-wrapper dl dt {
		text-align: right;
	}
	section.rules div.rules-wrapper dl dd {
		padding: 0 0 0 3.7em;
	}
}

section.rules div.rules-wrapper dl dt {
	width: 3.1em;
	margin: 0 0 0.5em 0;
	color: #535353;
}

section.rules div.rules-wrapper dl dd {
	margin: -2.31em 0 0.5em 0;
	color: #535353;
	text-align: left;
}

section.rules div.rules-wrapper dl dd ul {
	margin: 0.5em 0;
	padding: 0 0 0 30px;
}

section.rules div.rules-wrapper dl dd ul li {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   section.privacy
   ========================================================================== */

section.privacy > p {
	font-size: 0.75rem;
}

section.privacy .attention {
	margin: 0 0 2.0em 0;
	color: #b00 !important;
	font-size: 15px;
}

@media screen and (max-width: 800px) {
	section.privacy .attention + p {
		margin-left: 0;
	}
}

@media screen and (min-width: 801px) {
	section.privacy .attention + p {
		margin-left: -4.1em;
	}
}

section.privacy .attention + p {
	margin-bottom: 0;
}

section.privacy dl {
	display: inline-block;
	margin: 0;
}
/* IE6/7 fallback */
html.lt-ie8 section.privacy dl {
	display: inline;
	zoom: 1;
}

section.privacy dl dt {
	width: 1.5em;
	margin: 0;
	text-align: left;
}

/* IE6/7 fallback */
html.lt-ie8 section.privacy dl dt {
	width: 635px;
	display: inline;
	zoom: 1;
	text-align: left !important;
}

section.privacy dl dd {
	margin: -1.85em 0 0 1.5em;
	text-align: left;
}

/* IE6/7 fallback */
html.lt-ie8 section.privacy dl dd {
	margin-left: 50px;
}

section.privacy h5 {
	margin-top: 2.0em;
	margin-bottom: 0;
}

section.privacy .check {
	margin: 3.0em 0 1.5em 0;
	font-size: 14px;
}

section.privacy .check label {
	display: inline-block;
	width: auto;
	white-space: nowrap;
	cursor: pointer;
}
section.privacy .check label: before,
section.privacy .check label: after { content: " "; display: table; }
section.privacy .check label: after { clear: both; }
section.privacy .check label { *zoom: 1; }

/* IE6/7 fallback */
html.lt-ie8 section.privacy .check label {
	display: inline;
	zoom: 1;
}

section.privacy .check label input.checkbox {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

section.privacy .check label span.ico-checkbox {
	display: block;
	float: left;
	width: 23px;
	height: 28px;
	margin: -4px 3px 0 0;
	background: url("../images/ico_check_g.png") no-repeat 0 6px;
}

section.privacy .check label.checked span.ico-checkbox {
	background-position: 0 -63px;
}

section.privacy .check input {
	margin-right: 0.5em;
}

section.privacy .n-indent {
	margin-left: -0.5em;
}

section.privacy .btn-submit {
	text-align: center;
}

section.privacy .btn-submit a {
	margin: 0 auto;
	background-position: 436px 9px;
	font-size: 16px;
}

div.registration.checked .btn-submit span.button {
	background-color: #000;
}

/* ==========================================================================
   .disclaimer-section
   ========================================================================== */

section.disclaimer-section p {
	margin: 0;
}

section.privacy p.period {
	margin: 50px 0 25px 0;
}

section.privacy p.period span {
	color: #d03333;
	font-size: 18px;
	font-weight: bold;
}

section.privacy span.button {
	background: #dadada none;
	font-size: 14px;
	font-weight: bold;
}

section.privacy span.button:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	zoom: 1;
}

.registration {
	text-align: center;
}

section.disclaimer {
	border-top: 1px solid #e5e5e5;
}

.disclaimer > dt,
.disclaimer > dd {
	font-size: 0.75rem;
}

section.disclaimer > p {
	text-align: center;
	font-size: 0.75rem;
}

@media screen and (max-width: 800px) {
	section.privacy h4 {
		font-size: 15px;
		text-align: center;
		padding-top: 40px;
	}
	section.privacy,
	section.disclaimer-section p {
		text-align: left;
	}
	.button.large {
		width: 100%;
		padding: 20px 0;
	}
}

@media screen and (min-width: 801px) {
	section.privacy,
	section.disclaimer-section p {
		text-align: center;
	}
}
