@charset "UTF-8";


.imageContainer img {
  width: 100%;
  height: auto;
}

.align-center {
  text-align: center;
}

.button {
  background: #4f4f4f;
}
.pdl30 {
  padding-left: 30px;
}

#profile {

}


#profile .flex-item.imageContainer{
  flex-basis: 280px;
  width: 280px;

}
#profile .flex-item.imageContainer+.flex-item{
  flex-basis: 69%;
}
#profile img{
  width: 280px;
}

#profile .flex-item h4{
  font-size: 24px;

}
#profile .flex-item p{
  font-size: 16px;

}


#info {
  
}

#info table {
  width: 100%;
}
#info table th {
  width: 20%;
  background: #f2f2f2;
  color: #222;
  font-size: 18px;
  padding: 15px;
  border: 1px solid #222;
  line-height: 1.2;
  text-align: left;
}
#info table td {
  background: #fff;
  color: #222;
  font-size: 18px;
  padding: 15px;
  border: 1px solid #222;
  border-left: none;
  line-height: 1.2;
}
#info table td a{
  color: #555;
  text-decoration: underline;
}
#info table td a:hover{
  color: #999;
  text-decoration: underline;
}
#info table td small {
  color: #222;
  font-size: 80%;
}

@media screen and (max-width: 800px) {
  .pdl30 {
    padding-left: 0px;
    padding-top: 15px;
  }

  .events-contents p {
    font-size: 14px;
  }
  #profile .flex-item.imageContainer{
    flex-basis: auto;
  
    width: auto;
  }
  #profile .flex-item{
    flex-basis: auto;
  }
  #profile img{
    width: 100%;
  }
  #profile .flex-item h4{
    font-size: 20px;
  
  }
  #profile .flex-item p{
    font-size: 12px;
  
  }

  #info table th {
    width: 25%;
    font-size: 12px;
  }

  #info table td {
    font-size: 12px;
  }
}