@include keyframes(bounceInDown) {
  0% {opacity: 0; -webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
  60% {opacity: 1; -webkit-transform: translateY(30px);transform: translateY(30px);}
  80% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@mixin bounceInDown($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(bounceInDown);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
