@charset "UTF-8";

/* SmartHash */

.smarthash {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.smarthash ul {
  letter-spacing: -0.4em;
  width: 100%;
}

.smarthash li {
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
  letter-spacing: 0;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  width: 210px;
  display: inline-block;
  background: #2A2A2A;
  margin: 0 10px 10px 0;
}

.smarthash li p {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}

.smarthash li .description {
/*   margin-top: 5px; */
/*   padding-top: 5px; */
/*   border-top: 1px solid #ddd; */
  display: block;
  text-align: left;
  font-size: 12px;
}

.smarthash li .hash_tag {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  display: block;
  text-align: right;
  font-size: 12px;
  color: #999;
}

.smarthash li img {
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.smarthash_zoom {
  display: none;
}


/* zoom */

.data {
  clear: both;
  margin: 0;
  width: 100%;
  float: none;
  overflow: visible;
}

.data_head {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.dateBox span {
  display: block;
}

.data a {
  color: white;
}

.data a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.dateBox a:before {
  font-family: FontAwesome;
  color: #ccc;
  margin-right: 5px;
  content: "\f007";
}

.dateBox span:before {
  font-family: FontAwesome;
  color: #ccc;
  margin-right: 5px;
  content: "\f017";
}

.appOoen {
  text-align: right;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.appOoen a {
  border-radius: 2px;
  font-size: 75%;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  background: #333;
}

.data dt.imgBox {
  width: 50%;
  float: left;
}

.data dt.imgBox img {
  width: 100%;
}

.data dd {
  padding: 20px 20px 20px 0;
  width: 45%;
  float: right;
  word-break: break-all;
}

.data .commentBox {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.data .item_name {
  margin: 10px 0 10px 0;
}

.data .item_img {
  margin: 10px 0 10px 0;
}

.data .item_img img {
  max-width: 100%;
}

.data .item_url {
  margin: 20px 0 10px 0;
}

.data .item_url a {
  background: #c72425;
  color: #fff;
  padding: 10px 40px;
  width: 130px;
  text-align: center;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

/*
#cboxWrapper #cboxClose {
  text-indent: 0;
  color: #fff;
  font-size: 24px;
  top: -35px;
}
*/


/* more_btn */

.smarthash_more_btn {
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  text-align: center;
  margin: 40px auto 0;
  padding: 65px 0 0;
  border: 2px solid #ddd;
  width: 160px;
  height: 160px;
  display: block;
  clear: both;
}

.smarthash_more_btn:hover {
  opacity: 0.8;
  text-decoration: none;
}