/* ==========================================================================
   overrride
   ========================================================================== */

#footer a {
	text-decoration: underline;
}

#footer .footer-inner .secondary .secondary-inner .footer-search form input#input_search_text {
	font-size: 12px;
}

aside#recommendation ul li h6 {
	font-weight: bold;
}

aside.recommendation ul li h6 a {
	text-decoration: underline !important;
}

.st-main,
.st-main table * {
	letter-spacing: 0;
}

.st-main .mc-disclaimer a {
	text-decoration: underline;
}

.st-main .mc-disclaimer a:hover {
	color: #666;
}

.st-main .mc-cList_lead {
	letter-spacing: 1px;
}

.st-main .mc-cList_text {
	letter-spacing: 0;
}

.st-main h3 {
	text-align: left;
}
