@charset "UTF-8";
/* ==========================================================================
   overwrite v2 style
   ========================================================================== */
body.responsive #wrapper {
  margin-top: 0;
}

#main {
  padding-top: 0;
}

#main section .PhotoGallery {
  margin: 35px auto 70px auto;
}

body.simulation #main {
  padding-top: 152px;
}

.st-header ol li,
.st-header ul li,
.st-footer ol li,
.st-footer ul li {
  margin: auto auto auto auto;
  font-size: 12px;
  line-height: inherit;
}

.st-models_item {
  font-size: 16px !important;
}

.st-header li.st-footer_groupItem-other,
.st-footer li.st-footer_groupItem-other {
  margin-top: 18px;
  padding-top: 20px;
  position: relative;
}

.st-header .st-brandCategoryCardGroup_dots li,
.st-header .st-brandCardGroup_dots li,
.st-footer .st-brandCategoryCardGroup_dots li,
.st-footer .st-brandCardGroup_dots li {
  margin: 0 3px;
}
