@include keyframes(slideInRight) {
	0% {opacity: 0; transform: translateX(2000px);-webkit-transform: translateX(2000px);}
	100% {transform: translateX(0);-webkit-transform: translateX(0);}
}

@mixin slideInRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(slideInRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
