@include keyframes(slideOutLeft) {
	0% {transform: translateX(0); -webkit-transform: translateX(0);}
	100% {opacity: 0; transform: translateX(-2000px); -webkit-transform: translateX(-2000px);}
}

@mixin slideOutLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(slideOutLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
